<head>
   
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- FONT -->
  <link href="https://fonts.googleapis.com/css?family=K2D|Noto+Serif+KR:400,900|Ubuntu" rel="stylesheet">

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" 
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" 
    crossorigin="anonymous">
  
  <!-- Material Icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>