<title>Mitra Tanam Pahala</title>
<body>
    <div class="row">
        <div class="parallax-container parallax-container-header">
          <div class="parallax">
            <div class="parallax-overlay"></div>
            <img src="../../assets/dokumentasi/ramai-ramai.jpeg">
          </div>
          <br><br><br>
          <div class="container">
            <div class="row">
              <div class="col s12 m12 l12 xl12">
                <p class="h2 b2 twhite center">Mitra
                  <br>
                    <a href="https://forms.gle/9a6RN2d9L6XoiaA4A" target="_blank" 
                      class="btn greenlight"><i class="far fa-handshake left"></i> 
                      Gabung Jadi Mitra Kami
                    </a>
                </p>
                
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
          <div *ngFor="let mitra of mitras">
              <div class="col s12 m12 l6 xl4">
                  <div class="card card-kegiatan">
                    <a href="/mitra/{{mitra.slug}}">
                      <div class="card-image">
                        <div class="card-overlay">
                            <div class="card-icon-view">
                              <i class="medium material-icons twhite">remove_red_eye</i>
                            </div>
                        </div>
                        <img src="{{mitra.img_1_url}}">
                      </div>
                    </a>
                    <a href="/mitra/{{mitra.slug}}">
                      <div class="card-content">
                        <div class="row">
                          <div class="col s3 m3 l3 xl3">
                              <div class="avatar-mitra bwhite">
                                  <img class="img-avatar-mitra" src="{{mitra.img_logo_url}}" alt="">
                              </div>
                          </div>
                          <div class="col s9 m9 l9 xl9">
                              <p class="tgreen1">{{mitra.nama}}</p>
                              <div *ngIf="mitra.akronim">
                                  <p class="tmuted">{{mitra.akronim}}</p>
                              </div>
                            </div>
                        </div>
                        
                      </div>
                    </a>
                  </div>
              </div>
          </div>
            
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="container">
          <div class="col s12 m12 l12 xl12 center">
            <p>Tertarik bergabung menjadi Mitra kami ? </p>
              <a target="_blank" href="https://forms.gle/9a6RN2d9L6XoiaA4A" 
                class="greenlight btn btn-margin">
                <i class="far fa-handshake left"></i>
                  Gabung Sekarang
              </a>
          </div>
      </div>
    </div>
    <hr>
</body>