<footer>
    <div id="foot" style="padding-bottom:30px"class="row footer-canvas  teal darken-4">
    <br><br>
    <div class="container">
      <div class="col s12 m12 l4 xl4" id="footer-panel">
        <h4 id="bawahH4" class="center">Alamat</h4>
        <h6 id="bawahH6" class="center">
        Jalan Veteran, Ketawanggede, Lowokwaru, Ketawanggede,
        Kec. Lowokwaru, Kota Malang, Jawa Timur 65145
        </h6>
      </div>
      <div class="col s12 m12 l4 xl4" id="footer-panel">
        <h4 id="bawahH4" class="center">Pusat Informasi</h4>
        <h6 id="bawahH6" class="center">Sms/WA   : 085954615788<br>
           Gmail   : tanampahala17@gmail.com<br>
           Berdiri :  27 November 2017</h6>
      </div>
      <div class="col s12 m12 l4 xl4" id="footer-panel">
        <h4 id="bawahH4" class="center">Media Sosial</h4>
        <table class="borderless social-media">
          <tr><td><a href="http://facebook.com" target="_blank"><img class="img-responsive sosmed" width="35" height="35" src="../../assets/website/v2/facebook.svg" id="sosmed-facebook"></a></td>
            <td><a href="http://instagram.com/tanampahala" target="_blank"><img class="img-responsive sosmed" width="35" height="35" src="../../assets/website/v2/instagram.svg" id="sosmed-instagram"></a></td>
            <td><a href="http://line.me/ti/p/~@gog3912b" target="_blank"><img class="img-responsive sosmed" width="35" height="35" src="../../assets/website/v2/line.svg" id="sosmed-line"></a></td>
            <td><a href="https://api.whatsapp.com/send?phone=6285954615788" target="_blank"><img class="img-responsive sosmed" width="35" height="35" src="../../assets/website/v2/whatsapp.svg" id="sosmed-wa"></a></td>
          </tr>
        </table>
      </div>
    </div>
    <br><br>
    </div>
    
    <div class="footer-copyright teal darken-4">
      <div style="text-align:center;color:white;" class="container">
          Copyright &copy; Tanam Pahala 2019
        </div>
          </div>
  </footer>
