<footer *ngIf="foot.visibility">
    <div id="foot" style="padding-bottom:30px"class="row footer-canvas  teal darken-4">
    <br><br>
    <div class="container">
      <div class="col s12 m12 l4 xl4" id="footer-panel">
        <h4 class="center p2 b1 twhite">Alamat</h4>
        <h6 class="center p3 b0 twhite">
        Jalan Veteran, Ketawanggede, Lowokwaru, Ketawanggede,
        Kec. Lowokwaru, Kota Malang, Jawa Timur 65145
        </h6>
      </div>
      <div class="col s12 m12 l4 xl4" id="footer-panel">
        <h4 class="center p2 b1 twhite">Pusat Informasi</h4>
        <h6 class="center p3 b0 twhite">Sms/WA   : 085954615788<br>
           Gmail   : tanampahala17@gmail.com<br>
           Berdiri :  27 November 2017</h6>
      </div>
      <div class="col s12 m12 l4 xl4" id="footer-panel">
        <h4 class="center p2 b1 twhite">Media Sosial</h4>
        <div class="footer-sosmed">
            <a class="twhite" href="https://api.whatsapp.com/send?phone=6285954615788" target="_blank"><i class="medium fab fa-whatsapp-square"></i></a>
            <a class="twhite" href="http://line.me/ti/p/~@gog3912b" target="_blank"><i  class="medium fab fa-line"></i></a>
            <a class="twhite" href="http://instagram.com/tanampahala" target="_blank"><i  class="medium fab fa-instagram"></i></a>    
        </div>
      </div>
    </div>
    <br><br>
    </div>
    <div class="footer-copyright teal darken-4">
        <div class="container center p2 b1 twhite">
            Copyright &copy; Tanam Pahala 2019
        </div>
    </div>
    
  </footer>
