<title>Program Tanam Pahala</title>
<body>
	<div class="row">
		<div class="container">
			<div class="col s12 m12 l12 xl16">
				<h1 class="center h2 b2 sub-judul" href="#"><i class="material-icons">assignment</i>
					Program Unggulan
				</h1>
				
				<p class="p3">Program-Program unggulan tanam pahala yang akan membantu memfasilitasi 
					sahabat tanam pahala untuk beramal dan investasi. Sampah yang kita 
					anggap tidak berharga dapat kita putar menjadi sesuatu yang 
					sangat bernilai. Barang yang dapat didonasikan dapat berupa sampah plastik, 
					sampah kertas, sampah kardus maupun dalam bentuk baju bekas.</p>
				<div><img class="responsive-img" src="../../assets/icon/distribusi.png"></div>
			</div>
			<br>
			<br>
			<div class="col s12 m12 l4 xl4 program-panel">
				<div class="panel-body">
					<img class="panel-img" src="../../assets/icon/icon_sampah_pahala.png">
					<h1 class="center p1 b3 subheader">Sampah Pahala</h1>
					<p class="p3">
						Memanfaatkan sampah daur ulang dan baju bekas untuk diinvestasikan 
						dalam bentuk usaha yang diorientasikan pada berbagai kegiatan sosial.</p>
				</div>
			</div>
			<div class="col s12 m12 l4 xl4 program-panel">
				<div class="panel-body">
					<img class="panel-img" src="../../assets/icon/koin.png">
					<h1 class="center p1 b3 subheader">Celengan Amal</h1>
					<p class="p3">Uang receh sebagai donasi. 
						Seluruh donasi yang teman-teman berikan akan kami investasikan dan keuntungannya akan 
						diorientasikan untuk umat, terkhusus di bidang sosial.</p>
				</div>
			</div>
			<div class="col s12 m12 l4 xl4 program-panel">
				<div class="panel-body">
					<img class="panel-img" src="../../assets/icon/social-care.png">
					<h1 class="center p1 b3 subheader">Realisasi</h1>
					<p class="p3">Hasil dari donasi semua Sahabat Tanam Pahala akan di realisasikan dalam 
						bentuk kegiatan kemanusiaan baik dalam lingkup Nasional maupun Internasional.</p>
				</div>
			</div>
		</div>
	</div>
	<br>
	<!-- Content Dokumentasi-->

	<div class="row" style="margin-bottom:30px;">
		<div class="container">
			<div class="col s12 m12 l12 xl12">
				<h1 class="center h2 b2 sub-judul" href="#"><i class="material-icons">folder_open</i>
					Dokumentasi Program
				</h1>
				
			</div>
			<div *ngFor="let post of posts">
				<!-- Content Dokumentasi 1-->
				<div class="col s12 m4 l3 xl3" style="margin-top:20px;">
					<img src="{{post.img}}" 
					style="align:left; width:100%; height:120px; border-radius:2%">
				</div>
				<div class="col s12 m8 l9 xl9" style="margin-top:20px;">
					<div class="p2 b1">{{post.data.title}}</div>
					<p class="p3">{{post.data.excerpt}}</p>
				</div>
			</div>
		</div>
	</div>
	
	<br>
	<!-- Manfaat-->
	<div class="row">
		<div class="container">
			<h1 class="h2 b2 sub-judul" href="#"><i class="material-icons">check_circle</i>
				Manfaat yang Didapatkan
			</h1>
			<p class="p3">Banyak manfaat yang kita dapatkan jika kita ikut aktif berpartisipasi dalam 
				Program Tanam Pahala diantaranya kita turut melestarikan lingkungan dari sampah yang 
				kita donasikan , menumbuhkan kepekaan sosial, Amal Jariyah, dan mendukung kegiatan sosial. 
				Kegiatan sosial diantaranya mendukung kegiatan buka puasa, berbagi nasi bungkus, 
				membantu pasien yang kurang mampu. Untuk nominal dan kuantitasnya 
				Sahabat Tanam Pahala tidak perlu khawatir, sekecil apapun pemberian dari Sahabat 
				Tanam Pahala pasti akan sangat bermanfaat bagi sesama. Jadi, mari bersama Tanam Pahala 
				mewujudkan masyarakat yang peduli sesama.</p><br>
			<p class="center p2 tgreen1">
			"Tuhan sering kali memberesi urusan kita <br>
			Disaat kita memberesi urusan orang lain"</p>
			<p class="center p3 b0">Dr. KH. Achmad Hasyim Muzadi</p>
		</div>
	</div><!-- /CONTENT -->
</body>