<title>Program Tanam Pahala</title>
<body>
	<div class="parallax-container">
		<div class="parallax">
			<div class="parallax-overlay"></div>
			<img src="../../assets/dokumentasi/tp_semarang-crop.jpg">
		</div>
		<br><br><br><br>
		<div class="container">
			<div class="row">
				<div class="col s12 m6 l4 xl4">
					<p class="h2 b2 sub-judul twhite">Program Unggulan</p>
					<p class="twhite">Program-Program unggulan tanam pahala yang akan membantu memfasilitasi 
							sahabat tanam pahala untuk beramal dan investasi. Sampah yang kita 
							anggap tidak berharga dapat kita putar menjadi sesuatu yang 
							sangat bernilai. Barang yang dapat didonasikan dapat berupa sampah plastik, 
							sampah kertas, sampah kardus maupun dalam bentuk baju bekas.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section white">
		<div class="row">
			<div class="col s12 m6 l4 xl4">
				<div class="card caption-img">
					<div class="card-image">
						<div class="caption">
							<div class="container">
								<p class="h2 b2 sub-judul tgreenlight">Sampah Pahala</p>
								<p class="twhite b-1">
									Memanfaatkan sampah daur ulang 
									yang dijual dan hasilnya diinvestasikan 
									dalam bentuk usaha untuk membantu 
									berbagai kegiatan sosial.
								</p>
							</div>
						</div>
						<div class="card-overlay"></div>
						<img class="grayscale blur" src="../../assets/website/v2/sampahpahala-vertical2.jpg">
					</div>
				</div>
			</div>
			<div class="col s12 m6 l4 xl4">
				<div class="card caption-img">
					<div class="card-image">
						<div class="caption">
							<div class="container">
								<p class="h2 b2 sub-judul tgreenlight">Celengan Amal</p>
								<p class="twhite b-1">
									Uang receh sebagai donasi. 
									Seluruh donasi yang teman-teman 
									berikan akan kami investasikan
									dan keuntungannya akan digunakan 
									untuk kegiatan sosial.
								</p>
							</div>
						</div>
						<div class="card-overlay"></div>
						<img class="grayscale blur" src="../../assets/website/v2/koin-vertical2.jpg">
					</div>
				</div>
			</div>
			<div class="col s12 m6 l4 xl4">
				<div class="card caption-img">
					<div class="card-image">
						<div class="card-overlay"></div>
						<img class="grayscale blur" src="../../assets/website/v2/pantiasuhan-vertical.jpg">
						<div class="caption">
							<div class="container">
								<p class="h2 b2 sub-judul tgreenlight">Realisasi Kegiatan</p>
								<p class="twhite b-1">
									Hasil dari donasi semua Sahabat 
									Tanam Pahala akan di realisasikan 
									dalam bentuk kegiatan kemanusiaan 
									baik dalam lingkup Nasional maupun 
									Internasional.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="parallax-container">
		<div class="parallax"><img src="../../assets/website/v2/rrr.png"></div>
		<div class="container">
			<div class="row">
				
				<div class="col s12 m5 l5 xl5">
					<br><br><br><br>
					<p class="h2 b2 sub-judul tgreenlight">Visi</p>
					<p class="twhite">
						Komunitas berskala nasional 
						yang merangkul seluruh lapisan masyarakat 
						menggunakan pendekatan investasi amal 
						dalam upaya edukasi publik pembentukan karakter 
						<i>sociopreneurship</i> dan peduli lingkungan.
					</p>
							
				</div>
				
				<div class="col s12 m7 l7 xl7">
					<br><br><br><br>
					<p class="h2 b2 sub-judul tgreenlight">Misi</p>
					<ol class="left-aligned twhite">
						<li> &nbsp; Menjalin kemitraan dengan berbagai pihak atau institusi negara dan komuntas berbasil sosial lainnya</li>
						<li> &nbsp; Menjalin kemitraan dengan berbagai pihak atau instansi penghasil sampah</li>
						<li> &nbsp; Membentuk karakter sociopreneurship dalam lingkungan masyarakat</li>
						<li> &nbsp; Menjalin kemitraan bisnis dengan unit-unit usaha</li>
						<li> &nbsp; Membuka lapangan pekerjaan baru dan mengurangi angka pengangguran</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<br>
	<!-- Content Dokumentasi-->

	<br>
	<!-- Manfaat-->
	<div class="row">
		<div class="container">
			<!-- <h1 class="h2 b2 sub-judul" href="#"><i class="material-icons">check_circle</i>
				Manfaat yang Didapatkan
			</h1>
			<p class="p3">Banyak manfaat yang kita dapatkan jika kita ikut aktif berpartisipasi dalam 
				Program Tanam Pahala diantaranya kita turut melestarikan lingkungan dari sampah yang 
				kita donasikan , menumbuhkan kepekaan sosial, Amal Jariyah, dan mendukung kegiatan sosial. 
				Kegiatan sosial diantaranya mendukung kegiatan buka puasa, berbagi nasi bungkus, 
				membantu pasien yang kurang mampu. Untuk nominal dan kuantitasnya 
				Sahabat Tanam Pahala tidak perlu khawatir, sekecil apapun pemberian dari Sahabat 
				Tanam Pahala pasti akan sangat bermanfaat bagi sesama. Jadi, mari bersama Tanam Pahala 
				mewujudkan masyarakat yang peduli sesama.</p><br> -->
			<p class="center p2 tgreen1">
			"Tuhan sering kali memberesi urusan kita <br>
			Disaat kita memberesi urusan orang lain"</p>
			<p class="center p3 b0">Dr. KH. Achmad Hasyim Muzadi</p>
		</div>
	</div><!-- /CONTENT -->
</body>