<!--OPENING-->
<title>Tanam Pahala</title>
<body>
	<div class="parallax-container parallax-container-header">
		<div class="parallax">
			<div class="parallax-overlay-opening"></div>
			<img class="grayscale" src="../../assets/dokumentasi/baginasi1.jpg">
		</div>
		<br><br>
		<div class="container center">
			<div class="row">
				<div class="col s12 m12 l12 xl12">
					<p class="h2 b2 sub-judul twhite">
						Untukmu Si Pemilik Hati yang Lembut & Tulus
					</p>
					<p class="p1 twhite">
						Bersama Tanam Pahala, mari donasikan sebagian rezeki <br>
						untuk membantu saudara-saudara kita yang membutuhkan. <br>
						Donasi anda dapat berupa <b class="tgreenlight">Sampah Daur Ulang</b> maupun <b class="tamber">Uang Koin</b>.
					</p>
				</div>
				<div class="col s12 m12 l12 xl12">
					<!-- Modal Trigger -->
					<a class="btn-large btn-margin greenlight twhite modal-trigger center" 
						data-target="modal-sampah">
						<i class="fas small fa-recycle left"></i> Donasi Sampah
					</a>
				</div>
				<div class="col s12 m12 l12 xl12">
					<!-- Modal Trigger -->
					<a class="btn-large btn-margin amber twhite modal-trigger center" 
						data-target="modal-koin">
						<i class="fas small fa-coins left"></i> Donasi Koin
					</a>
				</div>
				<div class="col s12 m12 l12 xl12">
					<p class="p1 twhite">
						#Bersama<b class="tamber">Membantu</b>Sesama
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- MODAL -->
	<div class="modal greenlight" id="modal-sampah">
		<div class="modal-content">
			<a class="modal-close waves-effect waves btn-floating right">
				<i class="material-icons tgreen1">close</i>
			</a>
			<p class="p1 b3 center tgreen1">
				Donasi sampah anda akan kami jemput ke lokasi. 
				Kami menerima donasi berupa botol plastik, kertas bekas, kardus bekas & pakaian layak pakai.
			</p>
			<p class=" center tgreen1">Silahkan menghubungi tim kami dari salah satu kota yang telah kami jangkau</p>
			<div class="row">
				<!-- <div class="container"> -->
					<div class="col s12 m12 l4 xl4 center">
						<div class="card-panel white">
							<p class="center tgreen1 p1 b1 margin-top-null">Malang</p>
							<a class="btn greenlight" 
								href="https://api.whatsapp.com/send?phone=628977036465&text=Assalamualaikum%20warahmatullah%20wabarakatuh%0A%0ABarakallah%20kepada%20sang%20investor%20pahala%20%3A)%20sebelum%20investasi%20pahala%2C%20mohon%20diisi%20dulu%20yak%0A%0ANama%20%3A%0AMahasiswa%2FNon%3A%0AJenis%20investasi%20(%20botol%20bekas%2C%20pakaian%2C%20dsb)%3A%0AKuantitas%20(sedikit%2C%20sedang%2C%20banyak)%3A%20%0AAntar%20%2F%20jemput%3A%0AAlamat%20penjemputan%3A%0AWaktu%20%3A%0AApakah%20berkenan%20untuk%20didokumentasi%20foto%20(ya%2Ftdk)%3F%3A%0ACP%20%3A%20%0A%0ASyukron%20jazakallah%20khair%20%F0%9F%99%8F" 
								target="_blank"><i class="fab fa-whatsapp left"></i>Whatsapp
							</a>
						</div>
					</div>
					<div class="col s12 m12 l4 xl4 center">
						<div class="card-panel white">
							<p class="center tgreen1 p1 b1 margin-top-null">Semarang</p>
							<a class="btn greenlight" 
								href="https://api.whatsapp.com/send?phone=628815600345&text=Assalamu'alaikum%20Warohmatullahi%20Wabarokatuh%0A%20%0ABarakallah%20kepada%20sang%20investor%20pahala%20sebelum%20investasi%20pahala,%20mohon%20diisi%20dulu%20yak.%0A%20%0ANama%3A%20%0AMahasiswa%2FNon%3A%20%0AJenis%20Investasi%20%28%20botol%2C%20bekas%2C%20pakaian%20dsb%29%3A%0A%20%0AKuantitas%20%28sedikit%2C%20sedang%2C%20banyak%29%3A%20%0AAntar%2Fjemput%3A%20%0AAlamat%20penjemputan%3A%20%0AWaktu%3A%20%0AApakah%20berkenan%20untuk%20didokumentasi%20foto%20%28ya%2Ftidak%29%3F%3A%20%0ACP%3A%0A%20%0ASyukron%20jazakallah%20khair%0A%20%0A*Catatan%20%28Tulis%20dibawah%20jika%20ada%20yang%20ingin%20ditanyakan%29%0A%20%0A#BersamaMembantuSesama%0APantau%20terus%20sosial%20media%20kami%20di%0AIg%3A%20tanampahala%5Fsmg%0ALine%3A%20@gog3912b" 
								target="_blank"><i class="fab fa-whatsapp left"></i>Whatsapp
							</a>
						</div>
					</div>

					<div class="col s12 m12 l4 xl4 center">
						<div class="card-panel white">
							<p class="center tgreen1 p1 b1 margin-top-null">Surabaya</p>
							<a class="btn greenlight" 
								href="https://api.whatsapp.com/send?phone=6285216894169&text=Assalamualaikum%20warahmatullah%20wabarakatuh%0A%0ABarakallah%20kepada%20sang%20investor%20pahala%20%3A)%20sebelum%20investasi%20pahala%2C%20mohon%20diisi%20dulu%20yak%0A%0ANama%20%3A%0AMahasiswa%2FNon%3A%0AJenis%20investasi%20(%20botol%20bekas%2C%20pakaian%2C%20dsb)%3A%0AKuantitas%20(sedikit%2C%20sedang%2C%20banyak)%3A%20%0AAntar%20%2F%20jemput%3A%0AAlamat%20penjemputan%3A%0AWaktu%20%3A%0AApakah%20berkenan%20untuk%20didokumentasi%20foto%20(ya%2Ftdk)%3F%3A%0ACP%20%3A%20%0A%0ASyukron%20jazakallah%20khair%20%F0%9F%99%8F" 
								target="_blank"><i class="fab fa-whatsapp left"></i>Whatsapp
							</a>
						</div>
					</div>
				<!-- </div> -->
			</div>
		</div>
	</div> 
	<!-- END MODAL-->

	<!-- MODAL -->
	<div class="modal amber" id="modal-koin">
		<div class="modal-content">
			<a class="modal-close waves-effect waves btn-floating right">
				<i class="material-icons tgreen1">close</i>
			</a>
			<p class="p1 b3 center tgreen1">
				Donasi uang koin anda akan kami jemput ke lokasi. 
				Kami menerima donasi koin rupiah pecahan berapapun.
			</p>
			<p class=" center tgreen1">Silahkan menghubungi tim kami dari salah satu kota yang telah kami jangkau</p>
			<div class="row">
				<!-- <div class="container"> -->
					<div class="col s12 m12 l4 xl4 center">
						<div class="card-panel white">
							<p class="center tgreen1 p1 b1 margin-top-null">Malang</p>
							<a class="btn greenlight" 
								href="https://api.whatsapp.com/send?phone=628977036465&text=Assalamualaikum%20warahmatullah%20wabarakatuh%0A%0ABarakallah%20kepada%20sang%20investor%20pahala%20%3A%29%20sebelum%20investasi%20pahala%2C%20mohon%20diisi%20dulu%20yak%0A%0ANama%20%3A%0AMahasiswa%2FNon%3A%0AJenis%20investasi%20%3A%20Uang%20Koin%0AKuantitas%20%28dalam%20rupiah%29%20%3A%20Rp.%20%0AAntar%20%2F%20jemput%3A%0AAlamat%20penjemputan%3A%0AWaktu%20%3A%0AApakah%20berkenan%20untuk%20didokumentasi%20foto%20%28ya%2Ftdk%29%3F%3A%0ACP%20%3A%20%0A%0ASyukron%20jazakallah%20khair%20%F0%9F%99%8F" 
								target="_blank"><i class="fab fa-whatsapp left"></i>Whatsapp
							</a>
						</div>
					</div>
					<div class="col s12 m12 l4 xl4 center">
						<div class="card-panel white">
							<p class="center tgreen1 p1 b1 margin-top-null">Semarang</p>
							<a class="btn greenlight" 
								href="https://api.whatsapp.com/send?phone=628815600345&text=Assalamu%27alaikum%20Warohmatullahi%20Wabarokatuh%0A%20%0ABarakallah%20kepada%20sang%20investor%20pahala%20sebelum%20investasi%20pahala%2C%20mohon%20diisi%20dulu%20yak.%0A%20%0ANama%3A%20%0AMahasiswa%2FNon%3A%20%0AJenis%20Investasi%20%3A%20Uang%20koin%0A%20%0AKuantitas%20%28dalam%20Rupiah%29%20%3A%20Rp.%20%0AAntar%2Fjemput%3A%20%0AAlamat%20penjemputan%3A%20%0AWaktu%3A%20%0AApakah%20berkenan%20untuk%20didokumentasi%20foto%20%28ya%2Ftidak%29%3F%3A%20%0ACP%3A%0A%20%0ASyukron%20jazakallah%20khair%0A%20%0A%2ACatatan%20%28Tulis%20dibawah%20jika%20ada%20yang%20ingin%20ditanyakan%29%0A%20%0A%23BersamaMembantuSesama%0APantau%20terus%20sosial%20media%20kami%20di%0AIg%3A%20tanampahala_smg%0ALine%3A%20%40gog3912b" 
								target="_blank"><i class="fab fa-whatsapp left"></i>Whatsapp
							</a>
						</div>
					</div>

					<div class="col s12 m12 l4 xl4 center">
						<div class="card-panel white">
							<p class="center tgreen1 p1 b1 margin-top-null">Surabaya</p>
							<a class="btn greenlight" 
								href="https://api.whatsapp.com/send?phone=6285216894169&text=Assalamualaikum%20warahmatullah%20wabarakatuh%0A%0ABarakallah%20kepada%20sang%20investor%20pahala%20%3A%29%20sebelum%20investasi%20pahala%2C%20mohon%20diisi%20dulu%20yak%0A%0ANama%20%3A%0AMahasiswa%2FNon%3A%0AJenis%20investasi%20%3A%20Uang%20Koin%0AKuantitas%20%28dalam%20rupiah%29%20%3A%20Rp.%20%0AAntar%20%2F%20jemput%3A%0AAlamat%20penjemputan%3A%0AWaktu%20%3A%0AApakah%20berkenan%20untuk%20didokumentasi%20foto%20%28ya%2Ftdk%29%3F%3A%0ACP%20%3A%20%0A%0ASyukron%20jazakallah%20khair%20%F0%9F%99%8F" 
								target="_blank"><i class="fab fa-whatsapp left"></i>Whatsapp
							</a>
						</div>
					</div>
				<!-- </div> -->
			</div>
		</div>
	</div> 
	<!-- END MODAL-->

	<br><br><br>
	<div class="section white">
		<!-- APA ITU TANAM PAHALA -->
		<div class="row content-tentang">
			<div class="container">
				<br><br><br>
				<div class="col s12 m12 l6 xl6" id="about-image">
					<img src="../../assets/icon/Logo-Low.png">
				</div>
				<div class="col s12 m12 l6 xl6" id="about-text">
					<p class="h3 b2 tgreen1">Tentang Kami</p>
					<p class="p3 b0">Tanam pahala merupakan komunitas sosial yang memanfaatkan 
									donasi berupa sampah daur ulang & uang koin untuk diinvestasikan
									kepada para pedangan kecil dan disalurkan ke berbagai kegiatan sosial.
								</p>
					<p class="tmuted p3 b0">#BersamaMembantuSesama</p>
				</div>
			</div>
		</div><!-- /APA ITU TANAM PAHALA -->
	</div>
	<br><br><br><br>
	<!-- JENIS DONASI -->
	<div class="row content-donasi">
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12 xl12">
					<h1 class="h3 b2 sub-judul tgreen1">Jenis Donasi</h1><br>
				</div>
				<div class="col s6 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../../assets/website/botol.jpg">
						</div>
					</div>
					<p class="center p2 b2 tgreen1">Botol Plastik</p>
				</div>
				<div class="col s6 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../../assets/website/kertas.jpg">
						</div>
					</div>
					<p class="center p2 b2 tgreen1">Kertas Bekas</p>
				</div>
				<div class="col s6 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../../assets/website/buku-crop.jpg">
						</div>
					</div>
					<p class="center p2 b2 tgreen1">Buku Bekas</p>
				</div>
				<div class="col s6 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../../assets/website/kardus.jpg">
						</div>
					</div>
					<p class="center p2 b2 tgreen1">Kardus Bekas</p>
				</div>
				<div class="col s6 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../../assets/website/baju.jpg">
						</div>
					</div>
					<p class="center p2 b2 tgreen1">Pakaian Bekas</p>
				</div>
				<div class="col s6 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../../assets/website/minyak-crop.jpg">
						</div>
					</div>
					<p class="center p2 b2 tgreen1">Minyak Bekas</p>
				</div>
				<div class="col s6 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../../assets/website/koin.jpg">
						</div>
					</div>
					<p class="center p2 b2 tgreen1">Uang Receh</p>
				</div>
				<div class="col s6 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../../assets/website/karung-bekas.jpg">
						</div>
					</div>
					<p class="center p2 b2 tgreen1">Karung Bekas</p>
				</div>
			</div>
		</div>
	</div><!-- /JENIS DONASI -->
	<!-- STATISTIK -->
	<br>
	<br>
	<div class="row content-statistik greenlight">
		<div class="container">
			<div class="col s12 m12 l12 xl12" id="statistik-title">
				<p class="h3 b2 sub-judul tgreen1">Statistik <br>
					<small class="p3 b0"> <i>Update</i> : {{statistik.update.tgl}} {{statistik.update.jam}}</small></p>
			</div>

			<div id="statistik-panel">
				<div class="col s12 m6 l3">
					<div class="card center">
						<img src="../../assets/website/v2/ggift.png">
						<p class="center p3 b0 tgreen1">Jumlah Donatur</p>
						<span class="center p2 b4 tgreen1">{{statistik.donatur.total_donatur}}</span>&nbsp;<span class="p2 b4 tgreenlight"> Orang</span>
					</div>
				</div>
			</div>
			<div id="statistik-panel">
				<div class="col s12 m6 l3">
					<div class="card center">
						<img src="../../assets/website/v2/gtrash.png">
						<p class="center p3 b0 tgreen1">Sampah Terkumpul</p>
						<span class="center p2 b4 tgreen1">{{statistik.donatur.total_berat_sampah}}</span>&nbsp;<span class="p2 b4 tgreenlight"> Kg</span>
					</div>
				</div>
			</div>
			<div id="statistik-panel">
				<div class="col s12 m6 l3">
					<div class="card center">
						<img src="../../assets/website/v2/gcoin.png">
						<p class="center p3 b0 tgreen1">Koin Terkumpul</p>
						<span class="center p2 b4 tgreen1">Rp.{{statistik.donatur.total_koin}}</span>&nbsp;<span class="p2 b4 tgreenlight"></span>
					</div>
				</div>
			</div>
			<div id="statistik-panel">
				<div class="col s12 m6 l3">
					<div class="card center">
						<img src="../../assets/website/v2/ghandshake.png">
						<p class="center p3 b0 tgreen1">Penerima Manfaat</p>
						<span class="center p2 b4 tgreen1">{{statistik.donasi.total_manfaat}}</span>&nbsp;<span class="p2 b4 tgreenlight"> Pihak</span>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /STATISTIK -->
	<br><br><br>
	<!-- KEGIATAN KAMI -->
	<div style="padding-bottom:10px">
		<div class="row">
			<!-- <div class="container"> -->
				<div class="col s12 m12 l12 xl12" id="mitra-title">
					<h1 class="h3 b2 sub-judul tgreen1">Kegiatan</h1><br>
				</div>
				<div  *ngFor="let kegiatan of kegiatans">
					<div class="col s12 m6 l3 xl3">
						<div class="card">
							<div class="card-image">
								<img src="{{kegiatan.img_url}}" onError="this.src='../../assets/website/dummy-169.jpg'">
							</div>
							<div class="card-content">
								<p class="p2 b0">{{kegiatan.title}}</p>
								<br>
								<p class="tmuted">{{kegiatan.tanggal}}</p>
								<br>
								<p class="tmuted b-1">{{ kegiatan.desc.substr(0, 160) }}...</p>
							</div>
							<div class="card-action">
								<a class="btn btn-xs greenlight" href="/kegiatan/{{kegiatan.slug}}">Selengkapnya</a>
							</div>
						</div>
					</div>
				</div>
			<!-- </div> -->
		</div>
	</div><!-- KEGIATAN KAMI -->
	<br>
	<br>
	<br>
	 <!-- MITRA -->
	 <br>
	<div class="row">
		<div class="container">
			<div class="col s12 m12 l12 xl12">
				<h1 class="h3 b2 sub-judul tgreen1" style="margin-bottom :0px;">Mitra</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div *ngFor="let mitra of mitras">
			<div class="col s4 m4 l3 xl2">
				<a class="link-mitra" href="{{mitra.web}}" target="_blank">
					<div class="card center card-mitra">
						<img class="" width="100" src="{{mitra.img_logo_url}}" onError="this.style.display='none'">
					</div>
				</a>
			</div>
		</div>
	</div>
</body>