<!--OPENING-->
<!-- <input [(ngModel)]="quotes" type="text">
<input #inputan type="text">
<button (click)="onClick(inputan.type)" >Log</button> -->
<title>Beranda Tanam Pahala</title>
<body>
	<div id="opening">
		<h3 class="center h1" style="margin-top:0px"><br>
		<br>
		<br>
		<br>
		Untukmu Si Pemilik Hati yang Lembut & Tulus<br></h3>
		<p class="center p1" style="margin-top:0px">Semoga Allah meringankan langkah kita untuk selalu berada dalam kebaikan<br>
		Mari Berkolaborasi!<br>
		<!-- Modal Trigger --></p>
		<div class="card-action center" style="padding:8px">
			<a id="btn-donasi" class="btn modal-trigger center amber h2 b1" data-target="modal1" 
			(click)="onClick(this.id)"
			target="_blank">DONASI</a>
		</div><!-- Modal Trigger -->
		
		<p class="center p1">Bersama Tanam Pahala, Membantu Sesama</p><!-- Modal Structure -->
		<div class="modal green1" id="modal1">
			<div class="modal-content">
				<div class="modal-footer" style="background-color:rgba(0, 0, 0, 0);">
					<a class="modal-close waves-effect waves btn-floating amber" style="color:white;"><i class="material-icons">close</i></a>
				</div>
				<h1 class="h2 b1 center" style="color:white">Pilih Lokasi</h1><br>
				<div class="row content">
					<div class="container">
						<div class="col s12 m12 l4 xl4">
							<div class="card-action">
								<a class="waves-effect waves btn-large amber btn-wa p3 b2" 
								href="https://api.whatsapp.com/send?phone=628815600345&text=Assalamu'alaikum%20Warohmatullahi%20Wabarokatuh%0A%20%0ABarakallah%20kepada%20sang%20investor%20pahala%20sebelum%20investasi%20pahala,%20mohon%20diisi%20dulu%20yak.%0A%20%0ANama%3A%20%0AMahasiswa%2FNon%3A%20%0AJenis%20Investasi%20%28koin%2C%20botol%2C%20bekas%2C%20pakaian%20dsb%29%3A%0A%20%0AKuantitas%20%28sedikit%2C%20sedang%2C%20banyak%29%3A%20%0AAntar%2Fjemput%3A%20%0AAlamat%20penjemputan%3A%20%0AWaktu%3A%20%0AApakah%20berkenan%20untuk%20didokumentasi%20foto%20%28ya%2Ftidak%29%3F%3A%20%0ACP%3A%0A%20%0ASyukron%20jazakallah%20khair%0A%20%0A*Catatan%20%28Tulis%20dibawah%20jika%20ada%20yang%20ingin%20ditanyakan%29%0A%20%0A#BersamaMembantuSesama%0APantau%20terus%20sosial%20media%20kami%20di%0AIg%3A%20tanampahala%5Fsmg%0ALine%3A%20@gog3912b" 
								target="_blank">Semarang</a>
							</div>
						</div>
						<div class="col s12 m12 l4 xl4">
							<div class="card-action">
								<a class="waves-effect waves btn-large amber btn-wa p3 b2" 
								href="https://api.whatsapp.com/send?phone=6285954615788&text=Assalamualaikum%20warahmatullah%20wabarakatuh%0A%0ABarakallah%20kepada%20sang%20investor%20pahala%20%3A)%20sebelum%20investasi%20pahala%2C%20mohon%20diisi%20dulu%20yak%0A%0ANama%20%3A%0AMahasiswa%2FNon%3A%0AJenis%20investasi%20(%20koin%2C%20botol%20bekas%2C%20pakaian%2C%20dsb)%3A%0AKuantitas%20(sedikit%2C%20sedang%2C%20banyak)%3A%20%0AAntar%20%2F%20jemput%3A%0AAlamat%20penjemputan%3A%0AWaktu%20%3A%0AApakah%20berkenan%20untuk%20didokumentasi%20foto%20(ya%2Ftdk)%3F%3A%0ACP%20%3A%20%0A%0ASyukron%20jazakallah%20khair%20%F0%9F%99%8F" 
								target="_blank">Malang</a>
							</div>
						</div>
						<div class="col s12 m12 l4 xl4">
							<div class="card-action">
								<a class="waves-effect waves btn-large amber btn-wa p3 b2" 
								href="https://api.whatsapp.com/send?phone=6285216894169&text=Assalamualaikum%20warahmatullah%20wabarakatuh%0A%0ABarakallah%20kepada%20sang%20investor%20pahala%20%3A)%20sebelum%20investasi%20pahala%2C%20mohon%20diisi%20dulu%20yak%0A%0ANama%20%3A%0AMahasiswa%2FNon%3A%0AJenis%20investasi%20(%20koin%2C%20botol%20bekas%2C%20pakaian%2C%20dsb)%3A%0AKuantitas%20(sedikit%2C%20sedang%2C%20banyak)%3A%20%0AAntar%20%2F%20jemput%3A%0AAlamat%20penjemputan%3A%0AWaktu%20%3A%0AApakah%20berkenan%20untuk%20didokumentasi%20foto%20(ya%2Ftdk)%3F%3A%0ACP%20%3A%20%0A%0ASyukron%20jazakallah%20khair%20%F0%9F%99%8F" 
								target="_blank">Surabaya</a>
							</div>
						</div>
					</div>
				</div>
				<p class="center p3" style="margin-bottom:0px;color:white;">Donasi akan sangat membantu keluarga kita yang membutuhkan</p><br>
			</div>
		</div>
	</div><!--OPENING-->
	<!-- APA ITU TANAM PAHALA -->
	<div class="row content-tentang">
		<div class="container">
			<div class="col s12 m12 l12 xl12" id="about-title">
				<br>
				<br>
				<br>
				<h1 class="center h2 b2 sub-judul">Apa itu<br>
				TANAM PAHALA ?</h1><br>
				<br>
			</div>
			<div class="col s12 m12 l6 xl6" id="about-image"><img src="../../assets/icon/Logo-Low.png"></div>
			<div class="col s12 m12 l6 xl6" id="about-text">
				<br>
				<br>
				<p class="p2 b0">Tanam pahala merupakan komunitas yang bergerak 
								di bidang sosial yang berorientasi pada investasi 
								produktif bernilai manfaat bagi banyak orang dengan 
								program utama berupa Celengan Amal dan Sampah Amal</p>
				<br>
				<p class="p2 b1 center"><b>#BersamaMembantuSesama</b></p>
			</div><br>
		</div>
	</div><!-- /APA ITU TANAM PAHALA -->
	<br>
	<br>
	<br>
	<br>
	<!-- PROGRAM KAMI -->
	<div class="row content-program" id="kontenprogram">
		<div class="container">
			<div class="col s12 m12 l12 xl12" id="program-title">
				<h1 class="h2 b2 sub-judul">PROGRAM KAMI</h1>
				<br>
				<br>
			</div>
			<div class="col s12 m6 l6 xl6 program-panel">
				<div class="panel panel-default hoverable">
					<div class="panel-body">
						<img alt="" src="../../assets/icon/icon_sampah_pahala.png">
						<h1 class="p1 b3 subheader">Sampah Pahala</h1>
						<p class="center p2">Sampah amal yang sudah disedekahkan nantinya akan dijual. 
							Hasil dari penjualannya akan diputar menjadi produk investasi bernilai manfaat, 
							juga untuk disalurkan kepada yang membutuhkan. 
							Sehingga produk yang sudah jadi investasi nantinya akan kembali pada 
							umat bernilai manfaat dan pahala.</p>
					</div>
				</div><br>
			</div>
			<div class="col s12 m6 l6 xl6 program-panel">
				<div class="panel panel-default hoverable" style="border-bottom:30px">
					<div class="panel-body">
						<img alt="" class="responsive-img" src="../../assets/icon/koin.png">
						<h1 class="center p1 b3 subheader">Celengan Pahala</h1>
						<p class="center p2">Untuk teman-teman yang tidak memiliki sampah botol atau kertas
							 namun sangat ingin berkolaborasi bersama untuk berbagi, bisa menggunakan uang 
							 receh sebagai donasi. Seluruh donasi yang teman-teman berikan akan kami 
							 investasikan dan keuntungannya akan diorientasikan untuk umat, 
							 terkhusus dibidang sosial.</p>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /PROGRAM KAMI -->
	<br>
	<br>
	<br>
	<!-- JENIS DONASI -->
	<div class="row content-donasi">
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12 xl12">
					<h1 class="h2 b2 sub-judul">JENIS DONASI</h1><br>
				</div>
				<div class="col s12 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../../assets/website/botol.jpg"> <span class="card-title" id="jdtitle"></span> <a class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">looks_one</i></a>
						</div>
						<div class="card-content">
							<!-- <p class="p3">Termasuk dalam jenis sampah plastik. Merupakan jenis sampah terbanyak yang dihasilkan perharinya. Banyak sekali pemanfaatan sampah plastik di Indonesia terutama melalui Tanam Pahala.</p> -->
							<p class="p3 twhite" >Botol Plastik</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../../assets/website/kertas.jpg"> <span class="card-title" id="jdtitle"></span> <a class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">looks_two</i></a>
						</div>
						<div class="card-content">
							<!-- <p class="p3">Kertas Bekas, Konsumsi kertas di Indonesia juga termasuk dalam kategori sangat tinggi. Oleh karena itu, donasi yang kami terima juga berupa kertas bekas. Kertas jenis apapun yang sudah tidak terpakai bisa didonasikan.</p> -->
							<p class="p3 twhite">Kertas Bekas</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../../assets/website/kardus.jpg"> <span class="card-title" id="jdtitle"> </span> <a class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">looks_3</i></a>
						</div>
						<div class="card-content">
							<!-- <p class="p3">Kardus yang sudah tidak terpakai juga bisa didonasikan melalui tanam pahala. Ukuran dan jenis kardus apapun tidak menjadi masalah jika teman-teman memang ingin berpartisipas dan mendonasikannya.</p> -->
							<p class="p3 twhite">Kardus Bekas</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../../assets/website/baju.jpg"> <span class="card-title" id="jdtitle"> </span> <a class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">looks_4</i></a>
						</div>
						<div class="card-content">
							<!-- <p class="p3">Tanam Pahala juga menerima donasi berupa pakaian baik itu dalam bentuk kaos, celana, dan sejenisnya, yang nantinya bisa dikonversikan menjadi uang atau disalurkan langsung berupa barang jadi.</p> -->
							<p class="p3 twhite">Pakaian Bekas layak pakai</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /JENIS DONASI -->
	<br>
	<br>
	<br>
	<!-- STATISTIK -->
	<br>
	<br>
	<div class="row content-statistik">
		<div class="container">
			<div class="col s12 m12 l12 xl12" id="statistik-title">
				<p class="h2 b2 sub-judul">STATISTIK TERBARU</p><br>
			</div>

			<div *ngFor="let statistik of statistiks">
				<div class="col s12 m12 l3 xl3" id="statistik-panel">
					<div class="statistik-panel center">
						<img alt="" class="img-responsive" src="{{statistik.img}}" style="max-width: 75%;">
						<p class="p3 b0 tgreen1">{{statistik.judul}}</p>
						<p class="p1 b2 tgreen1"><b>{{statistik.jumlah}}</b></p>
						<p class="p3 b0 tgreen1">{{statistik.keterangan}}</p>
					</div>
				</div>
			</div>
			
		</div>
	</div><!-- /STATISTIK -->
	<br>
	<br>
	<!-- KEGIATAN KAMI -->
	<div style="padding-bottom:10px">
		<div class="row">
			<div class="container">
				<div class="col s12 m12 l12 xl12" id="mitra-title">
					<h1 class="h2 b2 sub-judul">GALERI KEGIATAN</h1><br>
				</div>
				
				<div  *ngFor="let gallery of galleries">
					<div class="col s12 m4 l4 xl4">
						<div materialize="materialboxed" class="card materialboxed">
							<div class="card-image">
								<img src="{{gallery.img}}">
							</div>
						</div>
					</div>
				</div>
				<!-- end ngFor -->
				
			</div>
		</div>
	</div><!-- KEGIATAN KAMI -->
	<br>
	<br>
	<br>
	<!--TES<div class="panel panel-default hoverable">-->
	 <!-- MITRA -->
	 <br>
	<div class="row" id="content-mitra">
		<div class="container">
			<div class="col s12 m12 l12 xl16">
				<h1 class="h2 b2 sub-judul" style="margin-bottom :0px;">MITRA KAMI</h1>
			</div>

			<div class="carousel">
				<div *ngFor="let mitra of mitras">
					<div class="col s12 m4 l4 xl4">
						<a class="carousel-item carousel-img" href="{{mitra.url}}" target="_blank">
							<img src="{{mitra.img}}">
						</a> 
					</div>
				</div>

			</div>
		</div>
	</div>
</body>

<!-- JQ -->


<!-- /JQ-->