<head>
    <title> Mitra Test </title>

    <meta property="og:url"           content="/mitra/test" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="test" />
    <meta property="og:description"   content="test" />
    <meta property="og:image"         content="test" />  
</head>
<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v3.3"></script>
  
  <div class="parallax-container">
    <div class="parallax">
      <img src="../../assets/dokumentasi/actt.jpg">
    </div>
  </div>
  <div class="section white">
    <div class="container">
        <div class="card">
          <div class="card-content">
              <div class="row">
                  <div class="col s12 m12 l12 xl12">
                    <div class="col s3 m3 l3 xl3">
                      <div class="avatar-mitra bwhite">
                          <img class="img-avatar-mitra" src="../../assets/mitra/act.png" alt="">
                      </div>
                    </div>
                    <div class="col s9 m9 l9 xl9">
                        <div class="h1 b2 tgreen1"> Judul </div>
                        <p class="tmuted">Aksi Cepat Tanggap</p>
                        <br>
                        <a href="#" class="greenlight twhite btn-small"><i class="material-icons left">location_on</i>
                            Jl. Ciliwung No.10, Purwantoro, Kec. Blimbing, Kota Malang
                        </a>
                        <br>
                    </div>
                    
                  </div>
              </div>
          </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <p class="center">Kunjungi Sosial Media Mitra Kami
          
          <a class="link-icon"
              data-href="http://tanampahala.com" 
              target="_blank"
              href="https://www.facebook.com/sharer/sharer.php?u=https://tanampahala.com/mitra/test"
              data-layout="button" class="tgreen1 fb-share-button" 
              style="margin-left:2%">
              <span>
              <i class="fab small fa-facebook"></i>
              &nbsp; Aksi Cepat Tanggap Indonesia
            </span>
          </a>
          <a class="tgreen1" style="margin-left:2%" href="instagram.com"><i class="fab small fa-instagram"></i>&nbsp; act_id</a>
        </p>
    </div>
    <hr>
    <div class="row">
      <div class="container">
        <div class="col">
            <p class="artikel-content">
              Data content Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
            </p>
        </div>
        <div class="col">
          <!-- Looping Here -->
          <div class="col s12 m6 l6 xl4">
            <div class="card">
              <div class="card-image">
                <img class="materialboxed" src="../../assets/dokumentasi/baginasi1.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6 xl4">
            <div class="card">
              <div class="card-image">
                <img class="materialboxed" src="../../assets/dokumentasi/baginasi1.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6 xl4">
            <div class="card">
              <div class="card-image">
                <img class="materialboxed" src="../../assets/dokumentasi/baginasi1.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6 xl4">
            <div class="card">
              <div class="card-image">
                <img class="materialboxed" src="../../assets/dokumentasi/baginasi1.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6 xl4">
            <div class="card">
              <div class="card-image">
                <img class="materialboxed" src="../../assets/dokumentasi/baginasi1.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6 xl4">
            <div class="card">
              <div class="card-image">
                <img class="materialboxed" src="../../assets/dokumentasi/baginasi1.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6 xl4">
            <div class="card">
              <div class="card-image">
                <img class="materialboxed" src="../../assets/dokumentasi/baginasi1.jpg" alt="">
              </div>
            </div>
          </div>
          <!-- End Looping -->
        </div>
      </div>
    </div>
  </div>
</body>
