<title>Anggota Tanam Pahala</title>
	<body>
		<div class="row">
			<div class="parallax-container parallax-container-header">
				<div class="parallax">
					<div class="parallax-overlay"></div>
					<img src="../../assets/dokumentasi/tp_semarang-crop-10-3.jpg">
				</div>
				<br><br><br>
				<div class="container">
					<div class="row">
						<div class="col s12 m12 l12 xl12">
							<p class="h2 b2 twhite center">Anggota</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- MALANG -->
			<div class="col s12 m12 l4 xl4">
				<div class="row">
					<div class="container">
						<div class="col s12 m12 l12 xl12 center">
							<p class="p1 tgreen1">Kota Malang</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div *ngFor="let anggota of anggotaMalangs">
						<div class="col s6 m6 l6 xl6">
							<div class="card caption-img">
								<div class="card-image">
									<div class="caption">
										<br><br><br><br><br>
										<div class="container">
											<p class="twhite b-1" style="margin-bottom:0px">
												{{anggota.panggilan}}
											</p>
											<!-- <div class="center twhite">
												<div class="col s4 m4 l4 xl4">
													<div *ngIf="anggota.fb">
														<a href="https://www.facebook.com/{{anggota.fb}}" target="_blank">
															<i class="tiny fab fa-facebook twhite"></i>
														</a>
													</div>
													 
												</div>
												<div class="col s4 m4 l4 xl4">
													<div *ngIf="anggota.ig">
														<a href="https://instagram.com/{{anggota.ig}}" target="_blank">
															<i class="tiny fab fa-instagram twhite"></i>
														</a> 
													</div>
												</div>
												<div class="col s4 m4 l4 xl4">
													<div *ngIf="anggota.line">
														<a href="http://line.me/ti/p/~{{anggota.line}}" target="_blank">
															<i class="tiny fab fa-line twhite"></i>
														</a>
													</div>
												</div>
														
											</div> -->
										</div>
									</div>
									<div class="card-overlay card-overlay-anggota"></div>
									<img class="grayscale" src="{{anggota.avatar}}">
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<!-- END MALANG -->

			<!-- SEMARANG -->
			<div class="col s12 m12 l4 xl4" style="border-left:solid 1px #145E3E; 
												   border-right:solid 1px #145E3E">
				<div class="row">
					<div class="container">
						<div class="col s12 m12 l12 xl12 center">
							<p class="p1 tgreen1">Kota Semarang</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div *ngFor="let anggota of anggotaSemarangs">
						<div class="col s6 m6 l6 xl6">
							<div class="card caption-img">
								<div class="card-image">
									<div class="caption">
										<br><br><br><br><br>
										<div class="container">
											<p class="twhite b-1" style="margin-bottom:0px">
												{{anggota.panggilan}}
											</p>
											<!-- <div class="center twhite">
												<div class="col s4 m4 l4 xl4">
													<div *ngIf="anggota.fb">
														<a href="https://www.facebook.com/{{anggota.fb}}" target="_blank">
															<i class="tiny fab fa-facebook twhite"></i>
														</a>
													</div>
												</div>
												<div class="col s4 m4 l4 xl4">
													<div *ngIf="anggota.ig">
														<a href="https://instagram.com/{{anggota.ig}}" target="_blank">
															<i class="tiny fab fa-instagram twhite"></i>
														</a> 
													</div> 
												</div>
												<div class="col s4 m4 l4 xl4">
													<div *ngIf="anggota.line">
														<a href="http://line.me/ti/p/~{{anggota.line}}" target="_blank">
															<i class="tiny fab fa-line twhite"></i>
														</a>
													</div>
												</div>
														
											</div> -->
										</div>
									</div>
									<div class="card-overlay card-overlay-anggota"></div>
									<img class="grayscale" src="{{anggota.avatar}}">
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<!-- END SEMARANG -->
			<!-- SURABAYA -->
			<div class="col s12 m12 l4 xl4">
				<div class="row">
					<div class="container">
						<div class="col s12 m12 l12 xl12 center">
							<p class="p1 tgreen1">Kota Surabaya</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div *ngFor="let anggota of anggotaSurabayas">
						<div class="col s6 m6 l6 xl6">
							<div class="card caption-img">
								<div class="card-image">
									<div class="caption">
										<br><br><br><br><br>
										<div class="container">
											<p class="twhite b-1" style="margin-bottom:0px">
												{{anggota.panggilan}}
											</p>
											<!-- <div class="center twhite">
												<div class="col s4 m4 l4 xl4">
													<div *ngIf="anggota.fb">
														<a href="https://www.facebook.com/{{anggota.fb}}" target="_blank">
															<i class="tiny fab fa-facebook twhite"></i>
														</a>
													</div> 
												</div>
												<div class="col s4 m4 l4 xl4">
													<div *ngIf="anggota.ig">
														<a href="https://instagram.com/{{anggota.ig}}" target="_blank">
															<i class="tiny fab fa-instagram twhite"></i>
														</a> 
													</div>
												</div>
												<div class="col s4 m4 l4 xl4">
													<div *ngIf="anggota.line">
														<a href="http://line.me/ti/p/~{{anggota.line}}" target="_blank">
															<i class="tiny fab fa-line twhite"></i>
														</a>
													</div> 
												</div>
														
											</div> -->
										</div>
									</div>
									<div class="card-overlay card-overlay-anggota"></div>
									<img class="grayscale" src="{{anggota.avatar}}">
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<!-- END SURABAYA -->
		</div>
	</body>