<title>Anggota Tanam Pahala</title>
	<body>
		<div class="row content-profil">
			<div *ngFor="let anggota of anggotaAlls">
				<div class="col s6 m3 l2 xl2">
					<div class="card caption-img">
						<div class="card-image">
							<div class="caption">
								<br><br><br><br><br>
								<div class="container">
									<p class="twhite b-1" style="margin-bottom:0px">
										{{anggota.panggilan}}
									</p>
									<div class="center twhite">
										<div class="col s4 m4 l4 xl4">
											<a href="{{anggota.fb}}" target="_blank">
												<i class="tiny fab fa-facebook twhite"></i>
											</a> 
										</div>
										<div class="col s4 m4 l4 xl4">
											<a href="{{anggota.ig}}" target="_blank">
												<i class="tiny fab fa-instagram twhite"></i>
											</a> 
										</div>
										<div class="col s4 m4 l4 xl4">
											<a href="{{anggota.line}}" target="_blank">
												<i class="tiny fab fa-line twhite"></i>
											</a> 
										</div>
												
									</div>
								</div>
							</div>
							<div class="card-overlay card-overlay-anggota"></div>
							<img class="grayscale" src="{{anggota.foto}}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>