<!--OPENING-->
<!-- <input [(ngModel)]="quotes" type="text">
<input #inputan type="text">
<button (click)="onClick(inputan.type)" >Log</button> -->
<title>Beranda Tanam Pahala</title>
<body>
	<div id="opening">
		<h3 class="center" style="margin-top:0px"><br>
		<br>
		<br>
		<br>
		Untukmu Si Pemilik Hati yang Lembut & Tulus<br></h3>
		<p class="center" style="margin-top:0px">Semoga Allah meringankan langkah kita untuk selalu berada dalam kebaikan<br>
		Mari Berkolaborasi!<br>
		<!-- Modal Trigger --></p>
		<div id="card-action-btn-donasi" class="card-action" style="padding:8px">
			<a id="btn-donasi" class="btn modal-trigger yellow accent-4 center" data-target="modal1" 
			style="" (click)="onClick(this.id)"
			target="_blank">DONASI</a>
		</div><!-- Modal Trigger -->
		<p></p>
		<p class="center">Bersama Tanam Pahala, Membantu Sesama</p><!-- Modal Structure -->
		<div class="modal" id="modal1" style="background-color:rgba(153, 255, 153, 0.6);">
			<div class="modal-content">
				<div class="modal-footer" style="background-color:rgba(0, 0, 0, 0);">
					<a class="modal-close waves-effect waves btn-floating yellow accent-4" style="color:white;"><i class="material-icons">close</i></a>
				</div>
				<h1 id="mtkami" style="color:white">Pilih Region</h1><br>
				<div class="row content">
					<div class="container">
						<div class="col s12 m6 l6 xl6">
							<div class="card-action" style="padding:8px">
								<a class="waves-effect waves btn-large yellow accent-4" 
								href="https://api.whatsapp.com/send?phone=6285954615788&text=Assalamu'alaikum%20Warohmatullahi%20Wabarokatuh%0ATeruntuk%20investor%20amal%20semoga%20selalu%20dalam%20ridho%20dan%20rahmat-Nya.%20Mohon%20diisi%20terlebih%20dahulu%20ya.%0A%20%0A*Berkolaborasi%20Bersama%20Tanam%20Pahala*%0A%20%0ANama%3A%20%0AAlamat%3A%20%0AJenis%20Donasi%3A%0A%20%0A*Catatan%20_(Tulis%20dibawah%20jika%20ada%20yang%20ingin%20ditanyakan)_*%0A%20%0A#BersamaMembantuSesama%0APantau%20terus%20sosial%20media%20kami%20di%0AIg%3A%20tanampahala%0ALine%3A%20@gog3912b" style="padding:20px;border-radius:50px;height:100%;color:white;font-weight:600;font-size:20px;" 
								target="_blank">Tanam Pahala Malang</a>
							</div>
						</div>
						<div class="col s12 m6 l6 xl6">
							<div class="card-action" style="padding:8px">
								<a class="waves-effect waves btn-large yellow accent-4" 
								href="https://api.whatsapp.com/send?phone=628815600345&text=Assalamu'alaikum%20Warohmatullahi%20Wabarokatuh%0ATeruntuk%20investor%20amal%20semoga%20selalu%20dalam%20ridho%20dan%20rahmat-Nya.%20Mohon%20diisi%20terlebih%20dahulu%20ya.%0A%20%0A*Berkolaborasi%20Bersama%20Tanam%20Pahala*%0A%20%0ANama%3A%20%0AAlamat%3A%20%0AJenis%20Donasi%3A%0A%20%0A*Catatan%20_(Tulis%20dibawah%20jika%20ada%20yang%20ingin%20ditanyakan)_*%0A%20%0A#BersamaMembantuSesama%0APantau%20terus%20sosial%20media%20kami%20di%0AIg%3A%20tanampahala%0ALine%3A%20@gog3912b" style="padding:20px;border-radius:50px;height:100%;color:white;font-weight:600;font-size:20px;" 
								target="_blank">Tanam Pahala Semarang</a>
							</div>
						</div>
					</div>
				</div>
				<p class="center" style="margin-bottom:0px;color:white;font-size:18px">Donasi akan sangat membantu keluarga kita yang membutuhkan</p><br>
			</div>
		</div>
	</div><!--OPENING-->
	<!-- APA ITU TANAM PAHALA -->
	<div class="row content-tentang">
		<div class="container">
			<div class="col s12 m12 l12 xl12" id="about-title">
				<br>
				<br>
				<br>
				<h1 class="center" id="apaitu">APA ITU<br>
				TANAM PAHALA ?</h1><br>
				<br>
			</div>
			<div class="col s12 m12 l6 xl6" id="about-image"><img src="../../assets/Logo-Low.png"></div>
			<div class="col s12 m12 l6 xl6" id="about-text">
				<br>
				<br>
				<h4>Tanam pahala merupakan komunitas yang bergerak di bidang sosial yang berorientasi pada investasi produktif bernilai manfaat bagi banyak orang dengan program utama berupa Celengan Amal dan Sampah Amal</h4><br>
				<h4 class="center" id="about-slogan"><b>#BersamaMembantuSesama</b></h4>
			</div><br>
		</div>
	</div><!-- /APA ITU TANAM PAHALA -->
	<br>
	<br>
	<br>
	<br>
	<!-- PROGRAM KAMI -->
	<div class="row content-program" id="kontenprogram">
		<div class="container">
			<div class="col s12 m12 l12 xl12" id="program-title">
				<h1 id="prkami">PROGRAM KAMI</h1><br>
				<br>
			</div>
			<div class="col s12 m6 l6 xl6" id="program-panel">
				<div class="panel panel-default hoverable">
					<div class="panel-body">
						<img alt="" src="../../assets/icon_sampah_pahala.png">
						<h1 id="celengansampah">Sampah Pahala</h1>
						<h4 class="center" id="textapaitu">Sampah amal yang sudah disedekahkan nantinya akan dijual. Hasil dari penjualannya akan diputar menjadi produk investasi bernilai manfaat, juga untuk disalurkan kepada yang membutuhkan. Sehingga produk yang sudah jadi investasi nantinya akan kembali pada umat bernilai manfaat dan pahala.</h4>
					</div>
				</div><br>
			</div>
			<div class="col s12 m6 l6 xl6" id="program-panel">
				<div class="panel panel-default hoverable" style="border-bottom:30px">
					<div class="panel-body" id="gambarcelengansampah">
						<img alt="" class="responsive-img" src="../../assets/koin.png">
						<h1 id="celengansampah">Celengan Pahala</h1>
						<h4 class="center" id="textapaitu">Untuk teman-teman yang tidak memiliki sampah botol atau kertas namun sangat ingin berkolaborasi bersama untuk berbagi, bisa menggunakan uang receh sebagai donasi. Seluruh donasi yang teman-teman berikan akan kami investasikan dan keuntungannya akan diorientasikan untuk umat, terkhusus dibidang sosial.</h4>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /PROGRAM KAMI -->
	<br>
	<br>
	<br>
	<!-- JENIS DONASI -->
	<div class="row content-donasi">
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l12 xl12" id="donasi-title">
					<h1 id="jenisdonasi">JENIS DONASI</h1><br>
				</div>
				<div class="col s12 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../../assets/botol.jpg"> <span class="card-title" id="jdtitle"></span> <a class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">looks_one</i></a>
						</div>
						<div class="card-content">
							<!-- <p id="jd">Termasuk dalam jenis sampah plastik. Merupakan jenis sampah terbanyak yang dihasilkan perharinya. Banyak sekali pemanfaatan sampah plastik di Indonesia terutama melalui Tanam Pahala.</p> -->
							<p id="jd" >Botol Plastik</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../../assets/kertas.jpg"> <span class="card-title" id="jdtitle"></span> <a class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">looks_two</i></a>
						</div>
						<div class="card-content">
							<!-- <p id="jd">Kertas Bekas, Konsumsi kertas di Indonesia juga termasuk dalam kategori sangat tinggi. Oleh karena itu, donasi yang kami terima juga berupa kertas bekas. Kertas jenis apapun yang sudah tidak terpakai bisa didonasikan.</p> -->
							<p id="jd">Kertas Bekas</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../../assets/kardus.jpg"> <span class="card-title" id="jdtitle"> </span> <a class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">looks_3</i></a>
						</div>
						<div class="card-content">
							<!-- <p id="jd">Kardus yang sudah tidak terpakai juga bisa didonasikan melalui tanam pahala. Ukuran dan jenis kardus apapun tidak menjadi masalah jika teman-teman memang ingin berpartisipas dan mendonasikannya.</p> -->
							<p id="jd">Kardus Bekas</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../../assets/baju.jpg"> <span class="card-title" id="jdtitle"> </span> <a class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">looks_4</i></a>
						</div>
						<div class="card-content">
							<!-- <p id="jd">Tanam Pahala juga menerima donasi berupa pakaian baik itu dalam bentuk kaos, celana, dan sejenisnya, yang nantinya bisa dikonversikan menjadi uang atau disalurkan langsung berupa barang jadi.</p> -->
							<p id="jd">Pakaian Bekas layak pakai</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /JENIS DONASI -->
	<br>
	<br>
	<br>
	<!-- STATISTIK -->
	<br>
	<br>
	<div class="row content-statistik">
		<div class="container">
			<div class="col s12 m12 l12 xl12" id="statistik-title">
				<h1 id="sttitle">STATISTIK TERBARU</h1><br>
			</div>

			<div *ngFor="let statistik of statistiks">
				<div class="col s12 m12 l3 xl3" id="statistik-panel" style="margin-bottom:50px;">
					<div class="statistik-panel">
						<img alt="" class="img-responsive" src="{{statistik.img}}" style="max-width: 75%;">
						<h4 id="st">{{statistik.judul}}</h4>
						<h1 id="st1"><b>{{statistik.jumlah}}</b></h1>
						<h4 id="st">{{statistik.keterangan}}</h4>
					</div>
				</div>
			</div>
			
		</div>
	</div><!-- /STATISTIK -->
	<!-- <br>
	<br> -->
	<!-- KEGIATAN KAMI -->
	<div style="padding-bottom:10px">
		<div class="row">
			<div class="container">
				<div class="col s12 m12 l12 xl12" id="mitra-title">
					<h1 id="mtkami">GALERI KEGIATAN KAMI</h1><br>
				</div>
				
				<div *ngFor="let gallery of galleries">
					<div class="col s12 m4 l4 xl4">
						<div materialize="materialboxed" class="card materialboxed">
							<div class="card-image">
								<img src="{{gallery.img}}">
							</div>
						</div>
					</div>
				</div>
				<!-- end ngFor -->
				
			</div>
		</div>
	</div><!-- KEGIATAN KAMI -->
	<br>
	<br>
	<br>
	<!--TES<div class="panel panel-default hoverable">-->
	 <!-- MITRA -->
	<div class="row content-mitra" 
	style="margin-bottom:0px;background-color:#e8f5e9;">
		<div class="container">
			<div class="col s12 m12 l12 xl16" id="mitra-title">
				<h1 id="mtkami">MITRA KAMI</h1><br>
			</div>

			<div class="carousel" style="padding-top:0px">

				<div *ngFor="let mitra of mitras">
					<div class="col s12 m4 l4 xl4">
						<a class="carousel-item" href="{{mitra.url}}" target="_blank">
							<img src="{{mitra.img}}">
						</a> 
					</div>
				</div>

			</div>
		</div>
	</div>
</body>

<!-- JQ -->


<!-- /JQ-->