.amber {
  background-color: #FEBA00;
}

.green1 {
  background-color: #145E3E;
}

.greenlight {
  background-color: #85C33D;
}

.tamber {
  color: #FEBA00;
}

.tmuted {
  color: #8f8f8f;
}

.tgreen1 {
  color: #104a30;
}

.tgreen1 i {
  color: #104a30;
}

.tgreenlight {
  color: #85C33D;
}

.twhite {
  color: #FFFFFF;
}

body {
  font-family: "Ubuntu";
  padding-top: 0px;
}

.h1 {
  font-size: 26pt;
}

.h2 {
  font-size: 22pt;
}

.h3 {
  font-size: 20pt;
}

.p1 {
  font-size: 16pt;
}

.p2 {
  font-size: 14pt;
}

.p3 {
  font-size: 12pt;
}

.p4 {
  font-size: 8pt;
}

.b1 {
  font-weight: 600;
}

.b2 {
  font-weight: 400;
}

.b3 {
  font-weight: 200;
}

.b4 {
  font-weight: 100;
}

.b5 {
  font-weight: 50;
}

.b6 {
  font-weight: 25;
}

.b0 {
  font-weight: 0;
}

.subheader {
  color: WHITE;
  background-color: #104a30;
  padding: 2%;
}

.left-aligned {
  text-align: left;
}

.margin-top-null {
  margin-top: 0px;
}

.program-panel {
  text-align: center;
  margin-bottom: 20px;
}

#about-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about-image img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
  margin-top: 5%;
  width: 50%;
}

#about-image-tentang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5%;
}

#about-image-tentang img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
  width: 40%;
}

.panel-body {
  padding: 15px;
  border-radius: 20px;
}

.panel-img {
  width: 150px;
  height: 150px;
}

.sub-judul {
  font-family: "Ubuntu";
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 1.1;
}

.content-program {
  background-color: #85C33D;
}

.content-program .panel {
  background-color: #f9f9f9;
  border-radius: 30px;
}

.card-content {
  line-height: 1.1;
  font-family: "Ubuntu";
  margin-top: 10px;
  border-radius: 2px;
  margin: 1.14rem 0 .912rem 0;
  margin-bottom: 10px;
}

.content-statistik {
  margin-bottom: 40px;
  padding-bottom: 30px;
}

.caption {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.grayscale {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(20, 94, 62, 0.9)), to(rgba(133, 195, 61, 0.5)));
  background: linear-gradient(180deg, rgba(20, 94, 62, 0.9) 50%, rgba(133, 195, 61, 0.5));
}

.caption-img :hover img {
  -webkit-filter: none;
          filter: none;
}

.caption-img :hover .card-overlay {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(20, 94, 62, 0.7)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(20, 94, 62, 0.7) 20%, rgba(255, 255, 255, 0));
}

.caption-img :hover .card-overlay-anggota {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(255, 255, 255, 0)), to(rgba(20, 94, 62, 0.8)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, rgba(20, 94, 62, 0.8));
}

.card-kegiatan .card-overlay {
  opacity: 0;
}

.card-kegiatan :hover .card-overlay {
  opacity: 100;
}

.card-kegiatan :hover .card-icon-view {
  opacity: 100;
}

.card-icon-view {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  z-index: 4;
}

.card-icon-view i {
  margin: auto;
  opacity: 0.5;
}

.parallax-container-header {
  height: auto;
  position: relative;
}

.parallax-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(16, 74, 48, 0.7);
}

.parallax-overlay-opening {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(20, 94, 62, 0.7);
}

#parallax-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.avatar-mitra {
  width: 100%;
  height: auto;
  z-index: 3;
}

.avatar-mitra img {
  width: 100%;
  height: auto;
}

#statistik-panel {
  text-transform: capitalize;
}

#statistik-panel .card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  height: 210px;
}

#statistik-panel .card-image img {
  width: 10%;
  height: auto;
  margin: 10%;
}

#foot {
  margin: 0px;
}

#kontenprogram {
  background: #e8f5e9;
}

.kartu-profil-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2%;
}

@media (max-width: 768px) {
  .kartu-profil-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 2%;
  }
}

@media (max-width: 576px) {
  .kartu-profil-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.kartu-profil {
  width: 100%;
}

.card-mitra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  padding: 5px;
}

.card-mitra img {
  height: 70px;
  width: auto;
}

@media (max-width: 576px) {
  .card-mitra img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .card-mitra img {
    max-width: 100%;
    height: auto;
  }
}

.avatar {
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
  margin-top: 5%;
  width: 90%;
  height: 90%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}

.icon-svg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 25%;
}

.icon-svg a {
  margin: auto;
}

.footer-copyright {
  padding-top: 20px;
  padding-bottom: 20px;
}

#foot {
  padding-bottom: 0px;
}

.post-content {
  padding-top: 50px;
  height: 100%;
}

.artikel-img {
  width: 100%;
  height: auto;
}

.footer-sosmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-sosmed a {
  margin: auto;
}

.footer-sosmed :hover {
  color: #85C33D;
}

.footer-sosmed i {
  width: 50%;
  height: auto;
}

.plain-link {
  text-decoration: none;
  color: #000000;
}

.plain-link :hover {
  text-shadow: 2px 2px 5px #85C33D;
}

.plain-link :hover img {
  -webkit-box-shadow: 2px 2px 5px #85C33D;
          box-shadow: 2px 2px 5px #85C33D;
}

.btn-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.artikel-content {
  text-align: justify;
}
/*# sourceMappingURL=style.css.map */