
// Small devices (landscape phones, 576px and up)
$bp-smartphone : 576px;
// Medium devices (tablets, 768px and up)
$bp-tablet : 768px;
// Large devices (desktops, 992px and up)
$bp-desktop : 992px;
// Extra large devices (large desktops, 1200px and up)
$bp-lgdesktop : 1200px;

@mixin bpSmartphone {
    @media (max-width : #{$bp-smartphone}) {
        @content;
    }
}
@mixin bpTablet {
    @media (max-width : #{$bp-tablet}) {
        @content;
    }
}
@mixin bpDesktop {
    @media (max-width : #{$bp-desktop}) {
        @content;
    }
}
@mixin bpLgDesktop {
    @media (max-width : #{$bp-lgdesktop}) {
        @content;
    }
}

$colors : (
    GreenLight : #85C33D,
    GreenDark : #145E3E,
    Amber : #FEBA00,
    White : #FFFFFF,
    Black : #000000,
    Muted : #8f8f8f,
    Green1 : rgb(16, 74, 48)
);

@function color($color-name){
    @return map-get($colors , $color-name);
}

//colors
.amber { background-color: color('Amber')}
.green1 { background-color: color('GreenDark')}
.greenlight { background-color: color('GreenLight')}
.white { background-color: color('White');}

.tamber { color: color('Amber') }
.tmuted { color: color('Muted') }
.tgreen1 { color: color('Green1'); i{ color: color('Green1') } }
.tgreenlight { color: color('GreenLight')}
.twhite { color: #FFFFFF }

// font-sizez
$h1 : 26pt;
$h2 : 22pt;
$h3 : 20pt;
$p1 : 16pt;
$p2 : 14pt;
$p3 : 12pt;
$p4 : 8pt;

//font-weight
$b1 : 600;
$b2 : 400;
$b3 : 200;
$b4 : 100;
$b5 : 50;
$b6 : 25;
$b0 : 0;
$b-1 : -25;

body{
    font-family:"Ubuntu";
    padding-top: 0px;
}

.h1 {font-size: $h1;}
.h2 {font-size: $h2;}
.h3 {font-size: $h3;}
.p1 {font-size: $p1;}
.p2 {font-size: $p2;}
.p3 {font-size: $p3;}
.p4 {font-size: $p4;}

.b1 {font-weight: $b1;}
.b2 {font-weight: $b2;}
.b3 {font-weight: $b3;}
.b4 {font-weight: $b4;}
.b5 {font-weight: $b5;}
.b6 {font-weight: $b6;}
.b0 {font-weight: $b0;}

.subheader{
    color: WHITE;
    background-color: color('Green1');
    padding: 2%;
}
.left-aligned {
    text-align: left;
}

.margin-top-null {
    margin-top:0px; 
}

.program-panel {
    // border:black;
    text-align:center;
    margin-bottom: 20px;
}

#about-image {
    display: flex;
    img {
        align-self: center;
        margin: auto;
        margin-top: 5%;
        width: 50%;
    }
}
#about-image-tentang {
    display: flex;
    padding:5%;
    img {
        align-self: center;
        margin: auto;
        width: 40%;
    }
}

.panel-body {
    padding: 15px;
    background-color:color('White');
    border-radius: 20px;
}

.panel-img {
    width: 150px;
    height: 150px;
}

.sub-judul {
    font-family: "Ubuntu";
    // color: color('Green1');
    text-align: center;
    margin-top:20px;
    margin-bottom:40px;
    line-height: 1.1;
}

.content-program {
    background-color: color('GreenLight');
}
.content-program .panel {
    background-color: rgb(249, 249, 249);
    border-radius: 30px;
}
.card-content{
    line-height: 1.1;
    font-family: "Ubuntu";
    // text-align: center;
    // background-color: color('Green1');
    margin-top: 10px;
    border-radius:2px;
    margin: 1.14rem 0 .912rem 0;
    margin-bottom: 10px;
}

.content-statistik{
    margin-bottom: 40px;
    padding-bottom: 30px; 
}

.caption {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.grayscale{
    filter: grayscale(1);
}

.card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(180deg, 
                                rgba($color: color('GreenDark'), $alpha: 0.9) 50%, 
                                rgba($color: color('GreenLight'), $alpha: 0.5)
                                );
}

.caption-img {
    :hover { 
        img {
            filter: none;
        }
        .card-overlay {
            background: linear-gradient(180deg, 
                                        rgba($color: color('GreenDark'), $alpha: 0.7) 20%, 
                                        rgba($color: #FFFFFF, $alpha: 0)
                                        );
        }
        
        .card-overlay-anggota {
            background: linear-gradient(180deg, 
                                        rgba($color: #FFFFFF, $alpha: 0) 60%,
                                        rgba($color: color('GreenDark'), $alpha: 0.8)
                                        );
        }
    }
}

.card-kegiatan {
    .card-overlay {
        opacity: 0;
    }
    :hover {
        .card-overlay { 
            opacity: 100;
        }
        .card-icon-view {
            opacity: 100;
        }
    }
    .card-content {
        // padding-top: 0px;
        // padding-bottom: 10px;
    }
}

.card-icon-view {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    opacity: 0;
    z-index: 4;

        i {
            margin: auto;
            opacity: 0.5;
        }
}

.parallax-container-header {
    height: auto;
    position: relative;
}

.parallax-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba($color: color('Green1'), $alpha: 0.7)
}

.parallax-overlay-opening {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color : rgba($color: color('GreenDark'), $alpha: 0.7);
}

#parallax-caption {
    display: flex;
    align-content: center;
}

.avatar-mitra {
    width: 100%;
    height: auto;
    z-index: 3;
    // padding: 5px;

    img {
        width: 100%;
        height: auto;
    }
}

#statistik-panel{
    text-transform: capitalize;
}

#statistik-panel .card{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    height: 210px;
}

#statistik-panel .card-image img{
    width: 10%;
    height: auto;
    margin: 10%;
}

.statistik-panel a {
    // width: 90%;
    // background-color: rgb(170, 222, 135);
    // font-family: "Ubuntu";
    // color: color('Green1');
    // margin-top: 10%;
}
#foot{
    margin:0px;
}

#kontenprogram{
    background:#e8f5e9;
}

.kartu-profil-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2%;

    @include bpTablet() {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2%;
    }
    @include bpSmartphone() {
        grid-template-columns: 1fr;
    }
}

.kartu-profil {
    width: 100%; 
}

.card-mitra {
    display: flex;
    justify-content: center;
    height: 80px;
    padding: 5px;
    img {
        height: 70px;
        width: auto;
    }
    @include bpSmartphone(){
        img {
            max-width: 100%;
            height: auto;
        }
    }

    @include bpTablet() {
        img {
            max-width: 100%;
            height: auto;
        }
    }

}

// .carousel-img {
//     display: flex;
//     align-content: center;

//     img {
//         align-self: center;
//         max-width: 70%;
//         max-height: auto;
//         margin: auto;
//     }
// }

.avatar {
    filter: grayscale(90%);
    margin-top: 5%;
    width: 90%;
    height: 90%;
    max-width:200px;
    max-height:200px; 
    border-radius: 10px;
}

.icon-svg {
    display: inline-flex;
    align-content: center;
    width: 25%;
    a{
        margin: auto;
    }
}

.footer-copyright {
    padding-top: 20px;
    padding-bottom: 20px;
}
#foot {
    padding-bottom: 0px;
}
.post-content {
    padding-top: 50px;
    height: 100%;
}

.artikel-img {
    width: 100%;
    height: auto;
}

.footer-sosmed {
    display: flex;
    
    a {
        margin: auto;
    }

    :hover {
        color: color('GreenLight');
    }

    i {
        width: 50%;
        height: auto;
    }
}

.plain-link {
    text-decoration: none;
    color: #000000;

    :hover {
        text-shadow: 2px 2px 5px color('GreenLight'); // x-axis y-axis blur-axis color
        img { 
            box-shadow: 2px 2px 5px color('GreenLight'); // x-axis y-axis blur-axis color
        }
    }
}

.btn-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.artikel-content {
    text-align: justify;
}