$colors : (
    GreenLight : #85C33D,
    GreenDark : #145E3E,
    Amber : #FEBA00,
    White : #FFFFFF,
    Black : #000000,
    Green1 : rgb(16, 74, 48)
);

@function color($color-name){
    @return map-get($colors , $color-name);
}

body{
    font-family:"Ubuntu";
    padding-top: 0px;
}
#btnOpening{
    background-color: color('Amber');
}
#opening{
    font-size:30px;
    color:white;
    font-family:"Ubuntu";
    background-image:url("../assets/website/v2/rrr.png");
    background-size:cover;
    padding-bottom:200px;
    background-color: rgba(0, 0, 0, 0.5);
}
#prr{
    font-size: 36px;
    font-weight:800;
    line-height: 1.1;
    font-family: "Ubuntu";
    color: color('Green1');
    margin: 2px;
}
#celengansampah{
    font-family: "";
    text-align: center;
    color: WHITE;
    background-color: color('Green1');
    padding: 2%;
    font-size: 36px;
}
#gambarcelengansampah{
    max-width: 100%;
    height: auto;
    vertical-align: center;
}

#program-panel {
    border:black;
    text-align:center;
    margin-bottom: 20px;
}

#apaitu{
    font-size: 50px;
    font-weight:800;
    line-height: 1.1;
    font-family: "Ubuntu";
    text-align: center;
    color: color('Green1');
    margin: 2px;
}

#tu {
    color:color('Green1'); 
    font-size: 36px; 
    padding-top:10px
}

#textapaitu{
    font-family: "Ubuntu";
    font-size:18px;
    text-align: center;
    color: color('Green1');
}
#about-text h4 {
    font-weight: 500;
    line-height: 1.1;
    font-family: "Ubuntu";
    text-align: center;
    color: color('Green1');
    font-size: 18px;
    margin-top: 10px;
    margin: 1.14rem 0 .912rem 0;
    margin-bottom: 10px;
}
#about-image img {
    display: block;
    margin: auto;
    width: 50%;
}
.panel-body {
    padding: 15px;
    background-color:rgb(249,249,249);
    border-radius: 30px;
}
#prkami{
    font-size: 50px;
    font-weight: 800;
    line-height: 1.1;
    font-family: "Ubuntu";
    text-align: center;
    color: color('Green1');
    margin-top:30px;
    margin-bottom:0px;
    }

#card-action-btn-donasi {
    text-align: center;
}

#btn-donasi {
    padding:20px;
    border-radius:50px;
    height:100%;
    color:white;
    font-weight:600;
    font-size:36px;
}
.temp {
    padding:20px;border-radius:50px;height:100%;color:white;font-weight:600;font-size:20px;
}

.amber {
    background-color: color('Amber');
}

.green1 {
    background-color: color('GreenDark');
}

.btn-wa {
    color: #000000;
}

.content-program {
    background-color: color('GreenLight');
}
.content-program .panel {
    background-color: rgb(249, 249, 249);
    border-radius: 30px;
    }
#jenisdonasi{
    font-size: 50px;
    font-weight:800;
    line-height: 1.1;
    font-family: "Ubuntu";
    text-align: center;
    color: color('Green1');
    margin: 2px;
    }
.card-content{
    font-weight: 500;
    line-height: 1.1;
    font-family: "Ubuntu";
    text-align: center;
    background-color: color('Green1');
    font-size: 18px;
    margin-top: 10px;
    border-radius:2px;
    margin: 1.14rem 0 .912rem 0;
    margin-bottom: 10px;
    }

#distribusi{
    background:rgba(170,222,135,0.4);
    font-family: "Ubuntu";
    text-align: center;
    color: color('Green1');
    margin: 2px;
    padding-bottom:10px;
    }
    
#distribusi-image{
    border-radius:65px;
    margin-bottom:5%;
    overflow: hidden;
}

.content-statistik{
    font-size: 50px;
    font-weight:800;
    line-height: 1.1;
    font-family: "Ubuntu";
    text-align: center;
    color: color('Green1');
    margin: 2px;
}
.statistik-panel{
    text-transform: uppercase;
}
.statistik-panel a {
    width: 90%;
    background-color: rgb(170, 222, 135);
    font-family: "Ubuntu";
    color: color('Green1');
    margin-top: 10%;
}
#mar{
    font-family: "Ubuntu";
    font-size: 18px;
    color: color('Green1');
    border:3px;
    border-radius:10px;
    border-color:rgb(170, 222, 135);
}
#st{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#st1{
    margin-top: 0px;
    font-size: 36px;
    font-weight:500px;
    font-style: bold;
    margin-bottom: 10px;
}
#sttitle{
    font-size: 50px;
    font-weight: 800;
    line-height: 1.1;
    font-family: "Ubuntu";
    text-align: center;
    color: color('Green1');
    margin: 2px;
}
#mtkami{
    font-size: 50px;
    font-weight: 800;
    /* line-height: 1.1; */
    font-family: "Ubuntu";
    text-align: center;
    color: color('Green1');
    margin: 2px;
    margin-top: 30px;
    margin-bottom: 20px;
}
#jd{
    font-family: "Ubuntu";
    font-size: 18px;
    text-align: center;
    color: white;
}
#jdtitle{
    font-family: "Ubuntu";
    font-size: 30px;
    text-align: center;
    color: color('Green1');
}
#gambar{
    align:center;
    width:auto;
    padding:0px;
    vertical-align:middle;
}
#bawahH4{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
}

#bawahH6{
    font-size: 15px;
    text-align: center;
    color: white;
}
#gg{
    radius:10px;
}
#foot{
    margin:0px;
}
#kkjudul{
    font-size: 23px;
    font-weight: 700;
    line-height: 1.1;
    font-family: "Ubuntu";
    color: color('Green1');
}
#kkdeskripsi{
    font-size: 15px;
    line-height: 1.1;
    font-family: "Ubuntu";
    color: color('Green1');
    text-align:left
}
#kontenprogram{
    background:#e8f5e9;
}

#kartu {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float:left;
    border-radius: 10px;
    width:100%;
}
.row content-mitra{
    background:#e8f5e9;
}

.carousel-img {
    display: flex;
    align-content: center;

    img {
        margin: auto;
        max-width: 70%;
        max-height: auto;
    }
}

.avatar {
    filter: grayscale(70%);
    margin-top: 5%;
    width: 90%;
    height: 90%;
    max-width:200px;
    max-height:200px; 
    border-radius: 10px;
}

.imgg {
    display: flex;
    align-content: center;

    img {
        margin: auto;
    }
}


