.amber {
  background-color: #FEBA00;
}

.green1 {
  background-color: #145E3E;
}

.tgreen1 {
  color: #104a30;
}

.twhite {
  color: #FFFFFF;
}

body {
  font-family: "Ubuntu";
  padding-top: 0px;
}

.h1 {
  font-size: 26pt;
}

.h2 {
  font-size: 22pt;
}

.p1 {
  font-size: 16pt;
}

.p2 {
  font-size: 14pt;
}

.p3 {
  font-size: 12pt;
}

.b1 {
  font-weight: 600;
}

.b2 {
  font-weight: 400;
}

.b3 {
  font-weight: 200;
}

.b4 {
  font-weight: 100;
}

.b5 {
  font-weight: 50;
}

.b6 {
  font-weight: 25;
}

.b0 {
  font-weight: 0;
}

#btnOpening {
  background-color: #FEBA00;
}

#opening {
  color: white;
  font-family: "Ubuntu";
  background-image: url("../assets/website/v2/rrr.png");
  background-size: cover;
  padding-bottom: 200px;
  background-color: rgba(0, 0, 0, 0.5);
}

.subheader {
  color: WHITE;
  background-color: #104a30;
  padding: 2%;
}

.left-aligned {
  text-align: left;
}

.program-panel {
  text-align: center;
  margin-bottom: 20px;
}

#about-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about-image img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
  width: 50%;
}

#about-image-tentang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5%;
}

#about-image-tentang img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
  width: 40%;
}

.panel-body {
  padding: 15px;
  border-radius: 20px;
}

.panel-img {
  width: 150px;
  height: 150px;
}

.sub-judul {
  font-family: "Ubuntu";
  color: #104a30;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 1.1;
}

#btn-donasi {
  padding: 20px;
  border-radius: 20px;
  height: 100%;
  color: white;
}

.btn-wa {
  color: #000000;
}

.content-program {
  background-color: #85C33D;
}

.content-program .panel {
  background-color: #f9f9f9;
  border-radius: 30px;
}

.card-content {
  line-height: 1.1;
  font-family: "Ubuntu";
  text-align: center;
  background-color: #104a30;
  margin-top: 10px;
  border-radius: 2px;
  margin: 1.14rem 0 .912rem 0;
  margin-bottom: 10px;
}

.content-statistik {
  margin-bottom: 40px;
}

.statistik-panel {
  text-transform: uppercase;
}

.statistik-panel a {
  width: 90%;
  background-color: #aade87;
  font-family: "Ubuntu";
  color: #104a30;
  margin-top: 10%;
}

#foot {
  margin: 0px;
}

#kontenprogram {
  background: #e8f5e9;
}

.kartu-profil-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2%;
}

@media (max-width: 768px) {
  .kartu-profil-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 2%;
  }
}

@media (max-width: 576px) {
  .kartu-profil-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.kartu-profil {
  width: 100%;
}

#content-mitra {
  background-color: #e8f5e9;
  margin-bottom: 0px;
}

.carousel-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.carousel-img img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 70%;
  max-height: auto;
  margin: auto;
}

.avatar {
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
  margin-top: 5%;
  width: 90%;
  height: 90%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}

.icon-svg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 25%;
}

.icon-svg a {
  margin: auto;
}

.footer-copyright {
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-content {
  padding-top: 50px;
  height: 100%;
}

.artikel-img {
  width: 100%;
  height: auto;
}

.footer-sosmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-sosmed a {
  margin: auto;
}
/*# sourceMappingURL=style.css.map */