<title>Tentang Tanam Pahala</title>
<body>
	<br>
	<div class="row">
		<div class="container s12 m12 l12 xl16">
			<div class="content">
				<div id="judul">
					<a class="" href="#"><i class="material-icons" style="color:#004d40; font-size:36px; padding-top:10px">turned_in_not</i><b id="prr">Tentang Tanam Pahala</b></a>
				</div>
				<div class="col s12 m12 l12 xl12" id="about-image"><img src="../../assets/logotp.png"></div><!-- gg ->
            <div id="gamar">
                <p align="center">
                    <img class="responsive-img"style="text-align:center;height:600px;widht:1140px;padding:20px" src="asset/logotp.png">
                </p>
            </div>
            <!== gg-->
				<p id="textp">Tanam Pahala merupakan Starategi Pengelolaan Sampah Berbasis Sociopreneur Dengan Merangkul Pemuda Sebagai Solusi Untuk Pemecahan Permasalahan Lingkungan di Indonesia.</p>
				<p id="textp">Proyek sosial tanam pahala merupakan proyek berbasis komunitas yang memiliki target utama yaitu mahasiwa yang ada di seluruh Indonesia dengan program unggulan yakni sampah amal. Sampah amal merupakan program komunitas tanam pahala yang memanfaatkan sampah anorganik seperti sampah botol dan gelas plastik, kertas, kardus dan baju bekas dari mahasiswa kemudian diinvestasikan dalam bentuk usaha yang keuntungannya diorientasikan ke berbagai kegiatan sosial.</p>
				<p id="textp">Dengan demikian maka kebermanfaatan dari penyumbang akan berlipat ganda dan memiliki proyeksi jangka panjang karena keuntungan akan terus diputar atau dapat disebut sebagai program amal jariyah selama proyek ini terus berjalan.</p><!-- /Konten Utama-->
				<!-- Container Visi Misi-->
				<br>
				<br>
				<div id="visimisi">
					<p id="prr">VISI</p>
					<p id="textp">Komunitas berskala nasional yang merangkul seluruh lapisan masyarakat menggunakan pendekatan investasi amal dalam upaya edukasi publik pembentukan karakter sociopreneurship dan peduli lingkungan.</p>
					<p id="prr">MISI</p>
					<div id="textp">
						<p></p>
						<ol>
							<li>Menjalin kemitraan dengan berbagai pihak atau institusi negara dan komuntas berbasil sosial lainnya</li>
							<li>Menjalin kemitraan dengan berbagai pihak atau instansi penghasil sampah</li>
							<li>Membentuk karakter sociopreneurship dalam lingkungan masyarakat</li>
							<li>Menjalin kemitraan bisnis dengan unit-unit usaha</li>
							<li>Membuka lapangan pekerjaan baru dan mengurangi angka pengangguran</li>
						</ol>
						<p></p>
					</div>
				</div><br>
				<br>
				<div id="ourculture">
					<p id="prr">BUDAYA KAMI</p>
					<h4><strong>IKHLAS</strong></h4>
					<p id="textp">Ikhlas, maksudnya penerapan dalam bekerja dan mengabdi untuk umat. Iklhas merupakan hal utama yang selalu kami pegang dan kami terapkan, karena semua yang dimulai dari ikhlas akan berjalan dengan baik.</p>
					<h4>TEKUN</h4>
					<p id="textp">Semangat dalam menjalankan setiap program komunitas, semua yang sudah dimulai akan selalu kami perjuangkan dengan rasa syukur dan semangat.</p>
					<h4>OPTIMIS</h4>
					<p id="textp">Berpikir positif kedepan dalam menghadapi segala medan permasalahan, dan menangani permasalahan dengan rasa tanggung jawab yang besar.</p>
				</div>
			</div>
		</div>
	</div><!-- Container Visi Misi-->
</body>