<!--NAVBAR-->
<body>
<div *ngIf="nav.visibility" class="navbar-fixed" >
  <nav class="nav-extended">
    <div class="nav-wrapper white">
    <div class="container">
      <a class="brand-logo" href="index.html"><img style="padding-top:5px;" height="45px"class="img-responsive" src="../../assets/icon/logo1.png" alt=""></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons tgreen1">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li routerLink="/beranda" routerLinkActive="active green light-green lighten-5"><a class="tgreen1">Beranda</a></li>
        <li routerLink="/program" routerLinkActive="active green light-green lighten-5"><a class="tgreen1">Program</a></li>
        <li routerLink="/kegiatan" routerLinkActive="active green light-green lighten-5"><a class="tgreen1">Kegiatan</a></li>
        <li routerLink="/mitra" routerLinkActive="active green light-green lighten-5"><a class="tgreen1">Mitra</a></li>
        <!-- <li routerLink="/tentang" routerLinkActive="active green light-green lighten-5"><a class="tgreen1">Tentang Kami</a></li> -->
        <li routerLink="/anggota" routerLinkActive="active green light-green lighten-5"><a class="tgreen1">Anggota</a></li>
      </ul>
    </div>
    </div>
  </nav>
</div>
  
<div *ngIf="nav.visibility">
  <ul class="sidenav" style="margin:0px;padding-top:7px;padding-right:10px;padding-left:10px"  id="mobile-demo">	
    
    <!-- <hr color="rgb(16, 74, 48)"> -->
    <h6 class="center subjudul"> Menu</h6>
    <hr>
    
    <li routerLink="/beranda" routerLinkActive="active green light-green lighten-5"><a class="tgreen1"><i class="fas fa-home"></i>Beranda</a></li>
    <li routerLink="/program" routerLinkActive="active green light-green lighten-5"><a class="tgreen1"><i class="fas fa-project-diagram"></i>Program</a></li>
    <!-- <li routerLink="/tentang" routerLinkActive="active green light-green lighten-5"><a class="tgreen1"><i class="fas fa-info"></i>Tentang Kami</a></li> -->
    <li routerLink="/kegiatan" routerLinkActive="active green light-green lighten-5"><a class="tgreen1"><i class="fas fa-info"></i>Kegiatan</a></li>
    <li routerLink="/mitra" routerLinkActive="active green light-green lighten-5"><a class="tgreen1"><i class="fas fa-info"></i>Mitra</a></li>
    <li routerLink="/anggota" routerLinkActive="active green light-green lighten-5"><a class="tgreen1"><i class="fas fa-users"></i>Anggota</a></li>
    
    <br>
    <h6 class="center subjudul"> Official Accounts</h6>
    <hr>
    
    <li><a class="tgreen1" href="https://api.whatsapp.com/send?phone=6285954615788" target="_blank"><i class="fab fa-whatsapp-square"></i> WhatsApp</a></li>
    <li><a class="tgreen1" href="http://line.me/ti/p/~@gog3912b" target="_blank"><i  class="fab fa-line"></i> Line</a></li>
    <li><a class="tgreen1" href="http://instagram.com/tanampahala" target="_blank"><i  class="fab fa-instagram"></i> Instagram</a></li>
    <!-- <li><a class="tgreen1" href="#" target="_blank"><i  class="fab fa-facebook"></i> Facebook</a></li> -->
  </ul>
</div>
</body>
