<!--NAVBAR-->
<body>
<div *ngIf="nav.visibility" class="navbar-fixed" >
  <nav class="nav-extended">
    <div class="nav-wrapper white">
    <div class="container">
      <a class="brand-logo" href=""><img style="padding-top:5px;" 
        height="45px"class="img-responsive" src="../../assets/icon/logo1.png" alt="">
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons tgreen1">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li routerLink="/beranda"   routerLinkActive="active tgreen1"><a class="tgreen1">Beranda</a></li>
        <li routerLink="/program"   routerLinkActive="active tgreen1"><a class="tgreen1">Program</a></li>
        <li routerLink="/kegiatan"  routerLinkActive="active tgreen1"><a class="tgreen1">Kegiatan</a></li>
        <li routerLink="/mitra"     routerLinkActive="active tgreen1"><a class="tgreen1">Mitra</a></li>
        <li routerLink="/anggota"   routerLinkActive="active tgreen1"><a class="tgreen1">Anggota</a></li>
        
        <!-- Dropdown Bahasa -->
        <!-- <li><a class="dropdown-trigger tgreen1" href="#!" data-target="dropdown-bahasa-nav">Bahasa<i class="material-icons right">arrow_drop_down</i></a></li> -->
      </ul>
    </div>
    </div>
  </nav>
</div>

<!-- <ul id="dropdown-bahasa-nav" class="dropdown-content">
  <li><a class="tgreen1" href="">ID</a></li>
  <li><a class="tgreen1" href="/en/">EN</a></li>
</ul> -->

<div *ngIf="nav.visibility">
  <ul class="sidenav" style="margin:0px;padding-top:7px;padding-right:10px;padding-left:10px" id="mobile-demo">	

    <h6 class="center subjudul tmuted"> Menu</h6>
    <hr>
    
    <li routerLink="/beranda" routerLinkActive="active tgreen1"><a href="/beranda"><i class="fas fa-home"></i>Beranda</a></li>
    <li routerLink="/program" routerLinkActive="active tgreen1"><a href="/program"><i class="fas fa-project-diagram"></i>Program</a></li>
    <li routerLink="/kegiatan" routerLinkActive="active tgreen1"><a href="/kegiatan"><i class="fas fa-people-carry"></i>Kegiatan</a></li>
    <li routerLink="/mitra" routerLinkActive="active tgreen1"><a href="/mitra"><i class="fas fa-hands-helping"></i>Mitra</a></li>
    <li routerLink="/anggota" routerLinkActive="active tgreen1"><a href="/anggota"><i class="fas fa-users"></i>Anggota</a></li>
    <hr>
    <li>
      <!-- Modal Trigger -->
        <a class="btn-small btn-margin greenlight twhite modal-trigger center" 
          data-target="modal-sampah">
          <i class="fas small fa-recycle left"></i> Donasi Sampah
        </a>
    </li>
    <li>
      <!-- Modal Trigger -->
      <a class="btn-small btn-margin amber twhite modal-trigger center" 
        data-target="modal-koin">
        <i class="fas small fa-coins left"></i> Donasi Koin
      </a>
    </li>
    <!-- Dropdown Bahasa -->
    <!-- <li>
      <a class="dropdown-trigger tgreen1" data-target="dropdown-bahasa">
        <i class="fas fa-language left"></i><i class="fas fa-sort-down right"></i>Bahasa</a>
    </li> -->
    <hr>
    <br>
    <h6 class="center subjudul tmuted"> Kontak</h6>
    <hr>
    
    <li><a href="https://api.whatsapp.com/send?phone=628977036465" target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp</a></li>
    <li><a href="http://line.me/ti/p/~@gog3912b" target="_blank"><i  class="fab fa-line"></i> Line</a></li>
    <li><a href="http://instagram.com/tanampahala" target="_blank"><i  class="fab fa-instagram"></i> Instagram</a></li>
  </ul>
  <!-- <ul id="dropdown-bahasa" class="dropdown-content">
    <li><a href="">ID</a></li>
    <li><a href="/en/">EN</a></li>
  </ul> -->
</div>

<!-- MODAL -->
<div class="modal greenlight" id="modal-sampah">
  <div class="modal-content">
    <a class="modal-close waves-effect waves btn-floating right">
      <i class="material-icons tgreen1">close</i>
    </a>
    <p class="p1 b3 center tgreen1">
      Donasi sampah anda akan kami jemput ke lokasi. 
      Kami menerima donasi berupa botol plastik, kertas bekas, kardus bekas & pakaian layak pakai.
    </p>
    <p class=" center tgreen1">Silahkan menghubungi tim kami dari salah satu kota yang telah kami jangkau</p>
    <div class="row">
      <!-- <div class="container"> -->
        <div class="col s12 m12 l4 xl4 center">
          <div class="card-panel white">
            <p class="center tgreen1 p1 b1 margin-top-null">Malang</p>
            <a class="btn greenlight" 
              href="https://api.whatsapp.com/send?phone=628977036465&text=Assalamualaikum%20warahmatullah%20wabarakatuh%0A%0ABarakallah%20kepada%20sang%20investor%20pahala%20%3A)%20sebelum%20investasi%20pahala%2C%20mohon%20diisi%20dulu%20yak%0A%0ANama%20%3A%0AMahasiswa%2FNon%3A%0AJenis%20investasi%20(%20botol%20bekas%2C%20pakaian%2C%20dsb)%3A%0AKuantitas%20(sedikit%2C%20sedang%2C%20banyak)%3A%20%0AAntar%20%2F%20jemput%3A%0AAlamat%20penjemputan%3A%0AWaktu%20%3A%0AApakah%20berkenan%20untuk%20didokumentasi%20foto%20(ya%2Ftdk)%3F%3A%0ACP%20%3A%20%0A%0ASyukron%20jazakallah%20khair%20%F0%9F%99%8F" 
              target="_blank"><i class="fab fa-whatsapp left"></i>Whatsapp
            </a>
          </div>
        </div>
        <div class="col s12 m12 l4 xl4 center">
          <div class="card-panel white">
            <p class="center tgreen1 p1 b1 margin-top-null">Semarang</p>
            <a class="btn greenlight" 
              href="https://api.whatsapp.com/send?phone=628815600345&text=Assalamu'alaikum%20Warohmatullahi%20Wabarokatuh%0A%20%0ABarakallah%20kepada%20sang%20investor%20pahala%20sebelum%20investasi%20pahala,%20mohon%20diisi%20dulu%20yak.%0A%20%0ANama%3A%20%0AMahasiswa%2FNon%3A%20%0AJenis%20Investasi%20%28%20botol%2C%20bekas%2C%20pakaian%20dsb%29%3A%0A%20%0AKuantitas%20%28sedikit%2C%20sedang%2C%20banyak%29%3A%20%0AAntar%2Fjemput%3A%20%0AAlamat%20penjemputan%3A%20%0AWaktu%3A%20%0AApakah%20berkenan%20untuk%20didokumentasi%20foto%20%28ya%2Ftidak%29%3F%3A%20%0ACP%3A%0A%20%0ASyukron%20jazakallah%20khair%0A%20%0A*Catatan%20%28Tulis%20dibawah%20jika%20ada%20yang%20ingin%20ditanyakan%29%0A%20%0A#BersamaMembantuSesama%0APantau%20terus%20sosial%20media%20kami%20di%0AIg%3A%20tanampahala%5Fsmg%0ALine%3A%20@gog3912b" 
              target="_blank"><i class="fab fa-whatsapp left"></i>Whatsapp
            </a>
          </div>
        </div>

        <div class="col s12 m12 l4 xl4 center">
          <div class="card-panel white">
            <p class="center tgreen1 p1 b1 margin-top-null">Surabaya</p>
            <a class="btn greenlight" 
              href="https://api.whatsapp.com/send?phone=6285216894169&text=Assalamualaikum%20warahmatullah%20wabarakatuh%0A%0ABarakallah%20kepada%20sang%20investor%20pahala%20%3A)%20sebelum%20investasi%20pahala%2C%20mohon%20diisi%20dulu%20yak%0A%0ANama%20%3A%0AMahasiswa%2FNon%3A%0AJenis%20investasi%20(%20botol%20bekas%2C%20pakaian%2C%20dsb)%3A%0AKuantitas%20(sedikit%2C%20sedang%2C%20banyak)%3A%20%0AAntar%20%2F%20jemput%3A%0AAlamat%20penjemputan%3A%0AWaktu%20%3A%0AApakah%20berkenan%20untuk%20didokumentasi%20foto%20(ya%2Ftdk)%3F%3A%0ACP%20%3A%20%0A%0ASyukron%20jazakallah%20khair%20%F0%9F%99%8F" 
              target="_blank"><i class="fab fa-whatsapp left"></i>Whatsapp
            </a>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div> 
<!-- END MODAL-->

<!-- MODAL -->
<div class="modal amber" id="modal-koin">
  <div class="modal-content">
    <a class="modal-close waves-effect waves btn-floating right">
      <i class="material-icons tgreen1">close</i>
    </a>
    <p class="p1 b3 center tgreen1">
      Donasi uang koin anda akan kami jemput ke lokasi. 
      Kami menerima donasi koin rupiah pecahan berapapun.
    </p>
    <p class=" center tgreen1">Silahkan menghubungi tim kami dari salah satu kota yang telah kami jangkau</p>
    <div class="row">
      <!-- <div class="container"> -->
        <div class="col s12 m12 l4 xl4 center">
          <div class="card-panel white">
            <p class="center tgreen1 p1 b1 margin-top-null">Malang</p>
            <a class="btn greenlight" 
              href="https://api.whatsapp.com/send?phone=628977036465&text=Assalamualaikum%20warahmatullah%20wabarakatuh%0A%0ABarakallah%20kepada%20sang%20investor%20pahala%20%3A%29%20sebelum%20investasi%20pahala%2C%20mohon%20diisi%20dulu%20yak%0A%0ANama%20%3A%0AMahasiswa%2FNon%3A%0AJenis%20investasi%20%3A%20Uang%20Koin%0AKuantitas%20%28dalam%20rupiah%29%20%3A%20Rp.%20%0AAntar%20%2F%20jemput%3A%0AAlamat%20penjemputan%3A%0AWaktu%20%3A%0AApakah%20berkenan%20untuk%20didokumentasi%20foto%20%28ya%2Ftdk%29%3F%3A%0ACP%20%3A%20%0A%0ASyukron%20jazakallah%20khair%20%F0%9F%99%8F" 
              target="_blank"><i class="fab fa-whatsapp left"></i>Whatsapp
            </a>
          </div>
        </div>
        <div class="col s12 m12 l4 xl4 center">
          <div class="card-panel white">
            <p class="center tgreen1 p1 b1 margin-top-null">Semarang</p>
            <a class="btn greenlight" 
              href="https://api.whatsapp.com/send?phone=628815600345&text=Assalamu%27alaikum%20Warohmatullahi%20Wabarokatuh%0A%20%0ABarakallah%20kepada%20sang%20investor%20pahala%20sebelum%20investasi%20pahala%2C%20mohon%20diisi%20dulu%20yak.%0A%20%0ANama%3A%20%0AMahasiswa%2FNon%3A%20%0AJenis%20Investasi%20%3A%20Uang%20koin%0A%20%0AKuantitas%20%28dalam%20Rupiah%29%20%3A%20Rp.%20%0AAntar%2Fjemput%3A%20%0AAlamat%20penjemputan%3A%20%0AWaktu%3A%20%0AApakah%20berkenan%20untuk%20didokumentasi%20foto%20%28ya%2Ftidak%29%3F%3A%20%0ACP%3A%0A%20%0ASyukron%20jazakallah%20khair%0A%20%0A%2ACatatan%20%28Tulis%20dibawah%20jika%20ada%20yang%20ingin%20ditanyakan%29%0A%20%0A%23BersamaMembantuSesama%0APantau%20terus%20sosial%20media%20kami%20di%0AIg%3A%20tanampahala_smg%0ALine%3A%20%40gog3912b" 
              target="_blank"><i class="fab fa-whatsapp left"></i>Whatsapp
            </a>
          </div>
        </div>

        <div class="col s12 m12 l4 xl4 center">
          <div class="card-panel white">
            <p class="center tgreen1 p1 b1 margin-top-null">Surabaya</p>
            <a class="btn greenlight" 
              href="https://api.whatsapp.com/send?phone=6285216894169&text=Assalamualaikum%20warahmatullah%20wabarakatuh%0A%0ABarakallah%20kepada%20sang%20investor%20pahala%20%3A%29%20sebelum%20investasi%20pahala%2C%20mohon%20diisi%20dulu%20yak%0A%0ANama%20%3A%0AMahasiswa%2FNon%3A%0AJenis%20investasi%20%3A%20Uang%20Koin%0AKuantitas%20%28dalam%20rupiah%29%20%3A%20Rp.%20%0AAntar%20%2F%20jemput%3A%0AAlamat%20penjemputan%3A%0AWaktu%20%3A%0AApakah%20berkenan%20untuk%20didokumentasi%20foto%20%28ya%2Ftdk%29%3F%3A%0ACP%20%3A%20%0A%0ASyukron%20jazakallah%20khair%20%F0%9F%99%8F" 
              target="_blank"><i class="fab fa-whatsapp left"></i>Whatsapp
            </a>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div> 
<!-- END MODAL-->
</body>
